<% if(setting.data.faq_page_schema) {%>
  <div class="root-faq-template" style="line-height: 1.8 !important;" itemscope itemtype="https://schema.org/FAQPage">
 <% }  
else{ %>
  <div class="root-faq-template" style="line-height: 1.8 !important;">
<% } %>
    <div class="faq-header-1">
        <div>
            <% if(setting.data.page_title_content && setting.data.show_page_title) { %>
                <h1 class="faq-page-title"><%- setting.data.page_title_content %></h1>
            <% } %>
            <% if(setting.templateSetting.show_search_input) { %>
                <% if(setting.data.show_page_title && setting.data.page_title_content){%>
                    <div class="faq-search-input">
                        <% if(setting.templateSetting.search_input_style == 1) { %>
                            <input class="search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                        <% } %>
                        <% if(setting.templateSetting.search_input_style == 2) { %>
                            <div style="position:relative;">
                                <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                                <input class="search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                            </div>
                        <% } %>
                    </div>
                <%}
                else{%>
                    <div class="faq-search-input" style="margin-top: 70px;">
                        <% if(setting.templateSetting.search_input_style == 1) { %>
                            <input class="search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                        <% } %>
                        <% if(setting.templateSetting.search_input_style == 2) { %>
                            <div style="position:relative;">
                                <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                                <input class="search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">                                
                            </div>
                        <% } %>
                    </div>
                <%} %>
            <% } %>
        </div>
        <div>
            <% if(setting.data.show_intro_text && setting.data.intro_text_content) {%>
                <div class="faq-intro-text">
                    <span><%- setting.data.intro_text_content %></span>
                </div>
            <% } %>    
        </div>
    </div>
    <div class="faq-main">
        <% if(!setting.data.show_page_construction){%>
            <% if(faqs && !setting.data.dont_category_faq){ %>
                <div class="faq-main-container-1">
                    <div class="">
                        <% if(faqs.categories.length){%>
                            <% if(setting.templateSetting.show_category_bar){%>
                                <% if(setting.templateSetting.category_bar_number === 1){%>
                                    <div class="category-bar">
                                        <% for(var i=0; i < faqs.categories.length; i++) { %>
                                            <a href="#<%- faqs.categories[i].title.replace(/ /g, '-') %>" class="faq-category-title faq-category-link" style="color: <%=  setting.templateSetting.category_bar_color %>"><%- faqs.categories[i].title %></a>
                                        <% } %>
                                    </div>
                                <% } %>
                                <% if(setting.templateSetting.category_bar_number === 2){%>
                                    <div class="category-bar">
                                        <% for(var i=0; i < faqs.categories.length; i++) { %>
                                            <a href="#<%- faqs.categories[i].title.replace(/ /g, '-') %>" class="faq-category-title faq-category-link-2" style="color: <%=  setting.templateSetting.category_bar_color %>"><%- faqs.categories[i].title %></a>
                                        <% } %>
                                    </div>
                                <% } %>
                            <% } %>
                            <div class="category-faq-main-1">
                                <% for(var i=0; i < faqs.categories.length; i++) { %>
                                    <div class="category-faq-container">
                                        <div id="<%- faqs.categories[i].title.replace(/ /g, '-') %>" class="faq-category-width">
                                            <div class="faq-category-title">
                                                <span class="faq-category-border"><%- faqs.categories[i].title %></span>
                                            </div>
                                        </div>
                                        <% for(var j=0; j < faqs.faq.length; j++) { %>
                                            <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                                              <% if(setting.data.faq_page_schema) {%>
                                                <div class="faq-main-content" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                                    <div class="faq-question-title">
                                                        <span class="listed-faq faq-question-search" itemprop="name"><%= faqs.faq[j].title %></span>
                                                    </div>
                                                    <div class="faq-answer-content faq-answer-search"  itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                                      <div itemprop="text">
                                                        <%- faqs.faq[j].content %>
                                                      </div>
                                                    </div>
                                                </div>
                                              <% } 
                                              else{ %>
                                                <div class="faq-main-content">
                                                    <div class="faq-question-title">
                                                        <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                                    </div>
                                                    <div class="faq-answer-content faq-answer-search">
                                                      <div>
                                                        <%- faqs.faq[j].content %>
                                                      </div>
                                                    </div>
                                                </div>
                                              <% } %>
                                            <% } %>
                                        <%}%>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }
            else{ %>
                <div class="faq-dont-category">
                    <% for(var j=0; j < faqs.faq.length; j++) { %>
                      <% if(setting.data.faq_page_schema) {%>
                        <div class="faq-main-content" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <div class="faq-question-title">
                                <span class="listed-faq faq-question-search" itemprop="name"><%= faqs.faq[j].title %></span>
                            </div>
                            <div class="faq-answer-content faq-answer-search" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                              <div itemprop="text">
                                <%- faqs.faq[j].content %>
                              </div>
                            </div>
                        </div>                                              
                      <% } 
                      else{ %>
                        <div class="faq-main-content">
                          <div class="faq-question-title">
                              <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                          </div>
                          <div class="faq-answer-content faq-answer-search">
                            <div>
                              <%- faqs.faq[j].content %>
                            </div>
                          </div>
                        </div>   
                      <% } %>
                    <%}%>
                </div>
            <% } %>
        <% }
        else{ %>
            <div class="page-under-contruction">
                <%- setting.data.page_under_contruction %>
            </div>
        <% } %>
        <div id="not-found-text" class="faq-not-found">
            <% if(setting.data.search_not_found) {%>
                <%- setting.data.search_not_found %>
            <% } %>
        </div>
        <% if(setting.data.show_footer_text) {%>
            <div class="faq-footer-text">
                <% if(setting.data.footer_text_content) {%>
                    <%- setting.data.footer_text_content %>
                <% } %>
            </div>
        <% } %>
        <% if(setting.data.yanet_logo_visible) {%>
            <div class="" style="text-align: center; padding-bottom: 10px">
                <a href="https://apps.shopify.com/yanet-professional-faq-page" class="yanet-logo" target="_blank">Powered by Yanet</a>
            </div>
        <% } %>
        <% if(setting.templateSetting.btn_top_visible) {%>
            <div class="btn-back-to-top" onclick="topFunction()" id="back-to-top" title="Go to top">
                <svg fill="#ffffff" height="14" width="14" viewBox="0 0 448 512"><path d="M246.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 109.3 361.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160zm160 352l-160-160c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 301.3 361.4 438.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3z"/></svg>
            </div>
        <% } %>
    </div>
</div>
<script>
  if(document.getElementById("back-to-top")){
    let mybutton = document.getElementById("back-to-top");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
            mybutton.style.display = "flex";
        } 
        else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollIntoView({  
            behavior: "smooth"
        });    
    }
  }
    function simpleSearch() {
        var input = document.getElementById("search-text");
        var filter = input.value.toLowerCase();
        var filterByQuestion = document.getElementsByClassName('faq-question-search');
        var filterByAnswer = document.getElementsByClassName('faq-answer-search');
        var categoryList = document.getElementsByClassName('faq-category-width')
        var nodeCategory = document.getElementsByClassName('category-faq-container');
        var categoryBar = document.getElementsByClassName('category-bar')
        if(categoryBar.length > 0){
            if(document.getElementById('search-text').value === ''){
                categoryBar[0].style.display = "flex"
                for(i = 0; i < categoryList.length; i++){
                    categoryList[i].style.display = "block"
                }
            }
            else{
                categoryBar[0].style.display = "none"
                for(i = 0; i < categoryList.length; i++){
                    categoryList[i].style.display = "none"
                }
            }
        }
        var checkexist = true;
        for (i = 0; i < filterByQuestion.length; i++) {
            if (filterByQuestion[i].innerText.toLowerCase().includes(filter)) {
                filterByQuestion[i].parentNode.parentNode.style.display = "block";
                checkexist = false;
            }
            else {
                for(j = 0; j < filterByAnswer.length; j++){
                    if(filterByAnswer[j].innerText.toLowerCase().includes(filter)){
                        filterByQuestion[j].parentNode.parentNode.style.display = "block";
                        checkexist = false;        
                    }
                    else{
                        filterByQuestion[i].parentNode.parentNode.style.display = "none";
                    }
                }
            }
        }
        for (j = 0; j < nodeCategory.length; j++) {
            let subFaq = nodeCategory[j].getElementsByClassName('faq-main-content');
            let checkDisplay = false;
            for (k = 0; k < subFaq.length; k++) {
                if(subFaq[k].style.display == "block") {
                    checkDisplay = true;
                    break;
                }
            }
            if (checkDisplay) {
                nodeCategory[j].style.display = "block";
            } else nodeCategory[j].style.display = "none";
        }
        if (checkexist) {
            document.getElementById("not-found-text").style.display = "block";
        } else {
            document.getElementById("not-found-text").style.display = "none";
        }
    }

</script>
<style>
    <% if(setting.templateSetting.width_faqs_accordian) { %>
    .faq-main {
        padding: 0 20px;
        max-width: <%- setting.templateSetting.width_faqs_accordian%>px;
        margin: auto;
    }
    <% } %>
    <% if (setting.data) { %>
        .faq-question-title {
            padding-top: 8px;
            <% if (setting.templateSetting.faq_font_weight) { %>
                font-weight: <%=  setting.templateSetting.faq_font_weight %>;
            <% } if (setting.templateSetting.faq_font_color) { %>
                color: <%=  setting.templateSetting.faq_font_color %>;
            <% } if (setting.templateSetting.faq_bg_color) { %>
                font-size: <%=  setting.templateSetting.faq_font_size %>px;
            <% } if (setting.templateSetting.faq_font_family) { %>
                font-family: <%=  setting.templateSetting.faq_font_family %>;
            <% } %>
        }
        .faq-answer-content {
            width: 100%; 
            word-wrap: break-word;
            border-radius: 4px 4px 0 0;
            <% if (setting.templateSetting.answer_font_weight) { %>
                font-weight: <%=  setting.templateSetting.answer_font_weight %>;
            <% } if (setting.templateSetting.answer_font_color) { %>
                color: <%=  setting.templateSetting.answer_font_color %>;
            <% } if (setting.templateSetting.answer_font_family) { %>
                font-family: <%=  setting.templateSetting.answer_font_family %>;
            <% } %>
        }
    <% } %>
    .faq-header-1 {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        min-height: <%- setting.templateSetting.banner_height%>px;
        max-width: 100vw;
        <% if (setting.templateSetting.banner_visible) { %>
            <% if (setting.templateSetting.image_banner) { %>
                background-image: url('<%- setting.templateSetting.image_banner%>');
            <% }
            else {%> 
                background-image: url('<%- setting.templateSetting.banner_default%>');
                <%} 
            %>;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
        <% } %>
        text-align: center; 
    }
    .faq-page-title{
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        margin:0; 
        padding: 20px 30px; 
        font-weight: 600 !important;
        font-size: 36px;
        <% if (setting.templateSetting.page_title_font) { %>
            font-family: <%=  setting.templateSetting.page_title_font %> !important;
        <% } if (setting.templateSetting.page_title_fontsize) { %>
            font-size: <%=  setting.templateSetting.page_title_fontsize %>px !important;
        <% } if (setting.templateSetting.page_title_color) { %>
            color: <%=  setting.templateSetting.page_title_color %> !important;
        <% } if (setting.templateSetting.page_title_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.page_title_paddingtop %>px !important;
        <% } if (setting.templateSetting.page_title_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.page_title_paddingbottom %>px !important;
        <% } %>
    }
    .faq-search-input{
        width: 60% !important;
        margin: auto;
        padding: 0;
        overflow: hidden;
        border: none ;
        background-color: unset ;
    }
    .faq-main-content{
        margin-bottom: 16px;
    }
    .faq-main-container-1{
        padding: 30px 0;
    }
    .search-input{
        min-height: 50px !important;
        line-height: 1 !important;
        width: 100% !important; 
        max-width: 100% !important;
        outline: none !important; 
        border: 1px solid #ccc !important; 
        font-size: 16px !important;
        margin: 0 !important;
        background-color: white !important;
        box-shadow: none !important;
        <% if (setting.templateSetting.search_placeholder_font) { %>
            font-family: <%=  setting.templateSetting.search_placeholder_font %> !important;
        <% } %>
    }
    .faq-search-input-style1{
        border-radius: 4px !important; 
        padding: 16px !important; 
    }
    .faq-search-input-style2{
        border-radius: 30px !important; 
        padding: 16px 16px 16px 50px !important
    }
    .faq-intro-text{
        text-align: center; 
        padding: 10px 0; 
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        font-size: 18px;
        <% if (setting.templateSetting.intro_text_font) { %>
            font-family: <%=  setting.templateSetting.intro_text_font %>;
        <% }  if (setting.templateSetting.intro_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.intro_text_fontsize %>px;
        <% }  if (setting.templateSetting.intro_text_color) { %>
            color: <%=  setting.templateSetting.intro_text_color %>;
        <% }  if (setting.templateSetting.intro_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.intro_text_paddingtop %>px;
        <% }  if (setting.templateSetting.intro_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.intro_text_paddingbottom %>px;
        <% } %>
    }
    .faq-dont-category{
        margin-top: 30px;
    }
    .category-faq-main-1{
        padding-top: 20px
    }
    .category-bar{
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap;
        margin-bottom: 20px;
        <% if (setting.templateSetting.faq_font_family) { %>
            font-family: <%=  setting.templateSetting.faq_font_family %>;
        <% } %>    
    }
    .category-faq-container{
        margin-bottom: 40px;
    }
    .faq-category-width{
        padding-bottom: 10px;
        width: 100%;
    }
    .faq-not-found{
        display: none; 
        text-align: center; 
        font-size: 48px;
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } if (setting.templateSetting.footer_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.footer_text_paddingtop %>px;
        <% } if (setting.templateSetting.footer_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.footer_text_paddingbottom %>px;
        <% } %>
    }
    .page-under-contruction{
        text-align: center;
        font-size: 48px;
        margin: 60px 0;
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } %>
    }
    .faq-category-link{
        padding: 4px 8px; 
        margin:6px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        text-decoration: none; 
        font-size: 16px !important;
        font-weight: normal;
        <% if (setting.templateSetting.category_bar_background) { %>
            background-color: <%=  setting.templateSetting.category_bar_background %>;
        <% } %>    
    }
    .faq-category-link-2{
        padding: 8px 16px; 
        margin:6px; 
        border: 1px solid #ccc; 
        border-radius: 50px; 
        text-decoration: none; 
        font-size: 16px !important;
        font-weight: normal;
        <% if (setting.templateSetting.category_bar_background) { %>
            background-color: <%=  setting.templateSetting.category_bar_background %>;
        <% } %>    
    }
    .listed-faq{
        width: 100%;
        user-select: auto;
        word-wrap: break-word;
    }
    .faq-category-border{
        border-bottom: 1px solid #ccc;
    }

    .faq-footer-text{
        text-align: center; 
        padding: 10px 30px; 
        font-size: 18px;
        margin-top: 30px; 
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.footer_text_fontsize %>px;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } if (setting.templateSetting.footer_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.footer_text_paddingtop %>px;
        <% } if (setting.templateSetting.footer_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.footer_text_paddingbottom %>px;
        <% } %>
    }
    @media only screen and (max-width: 700px) {
        .faq-search-input{
            width: 95% !important;
            margin: auto;
            padding: 0;
            overflow: hidden;
        }
    }
    #micro-scope{
        <% if (setting.templateSetting.micro_scope_color) { %>
            fill: <%=  setting.templateSetting.micro_scope_color %>;
        <% } %>    
    }
    <% if (setting.templateSetting.placeholder_color) { %>
        ::placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
        :-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
        ::-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
    <% } %>

    <%
        if(setting.templateSetting.custom_css) { %>
            <%= setting.templateSetting.custom_css%>
        <%}
    %>
</style>