<% if(setting.data.faq_page_schema) {%>
  <div class="root-faq-template" itemscope itemtype="https://schema.org/FAQPage">
 <% }  
else{ %>
  <div class="root-faq-template">
<% } %>
    <div class="faq-header-3">
        <div>
            <% if(setting.data.page_title_content && setting.data.show_page_title) { %>
                <h1 class="faq-page-title"><%- setting.data.page_title_content %></h1>
            <% } %>
            <% if(setting.templateSetting.show_search_input) { %>
                <% if(setting.data.show_page_title && setting.data.page_title_content){%>
                    <div class="faq-search" style="box-shadow: none;">
                        <% if(setting.templateSetting.search_input_style == 1) { %>
                            <input class="faq-search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                        <% } %>   
                        <% if(setting.templateSetting.search_input_style == 2) { %>
                            <div style="position:relative;">
                                <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                                <input class="faq-search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                            </div>
                        <% } %>   
                    </div>
                <%}
                else{%>
                    <div class="faq-search-no-title">
                        <% if(setting.templateSetting.search_input_style == 1) { %>
                            <input class="faq-search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                        <% } %>
                        <% if(setting.templateSetting.search_input_style == 2) { %>
                            <div style="position:relative;">
                                <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                                <input class="faq-search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">                                
                            </div>
                        <% } %>
                    </div>
                <%} %>
            <% } %>
        </div>
        <div>
            <% if(setting.data.show_intro_text && setting.data.intro_text_content) {%>
                <div class="faq-intro-text">
                    <span><%- setting.data.intro_text_content %></span>
                </div>
            <% } %>    
        </div>
        <div>
            <% if(!setting.data.dont_category_faq) {%>
                <div class="category-bar">
                    <% for(var i = 0; i < faqs.categories.length; i++) { %>
                        <div class="category-bar-item" id="faq-category<%- i %>" onclick="changeCategory('<%- i %>', '<%= setting.templateSetting.faq_hover_color%>', '<%= setting.templateSetting.category_bar_background %>', '<%= setting.templateSetting.banner_visible %>')"
                        <% if(i === 0){%> style="color: <%= setting.templateSetting.category_bar_color %>;background-color: <%= setting.templateSetting.category_bar_background %>; text-transform: <%=  setting.templateSetting.category_text_style %>"<%}
                        else{%>style="font-size: 16px !important; user-select: none; text-transform: <%=  setting.templateSetting.category_text_style %>; color: <%=  setting.templateSetting.category_bar_color %>"<%}%>>
                            <span class="category-bar-title">
                            <%- faqs.categories[i].title %>                                                  
                            </span>
                        </div>
                    <% } %>                                
                </div>
            <% } %>        
        </div>
    </div>
    <div class="faq-main">
        <% if(!setting.data.show_page_construction){%>
            <% if(faqs && !setting.data.dont_category_faq){ %>
                <div class="faq-main-container">
                    <div class="faq-category-container">
                        <% if(faqs.categories.length){%>
                            <div class="faq-container">
                                <div class="category-faq-container">
                                    <% for(var i=0; i < faqs.categories.length; i++) { %>
                                        <div <% if(i === 0){%> style="display: block"<%}
                                            else{%>style="display: none"<%}%> id="category<%- i %>">
                                            <div id="<%- faqs.categories[i].title %>" class="faq-category-title"><%- faqs.categories[i].title %></div>
                                            <% for(var j = 0; j < faqs.faq.length; j++) { %>
                                                <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                                                  <% if(setting.data.faq_page_schema) {%>
                                                    <div class="faq-main-content" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                                        <div class="faq-question-title" onclick="showHideContent(this)">
                                                          <div style="width: <%=  setting.templateSetting.faq_font_size %>px; position: relative">
                                                            <svg fill="<%= setting.templateSetting.faq_font_color %>" class="faq-icon fa-plus" <% if(j === 0){%> style="opacity: 0"<%} else{%>style="opacity: 1"<%}%> viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                                            <svg fill="<%= setting.templateSetting.faq_font_color %>" class="fa-minus faq-icon" <% if(j === 0){%> style="opacity: 1"<%} else{%>style="opacity: 0"<%}%> viewBox="0 0 448 512"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                                          </div>
                                                          <span class="listed-faq" itemprop="name"><%= faqs.faq[j].title %> </span>
                                                        </div>
                                                        <div id="faq-answer-content" class="faq-answer-content" <% if(j === 0){%> style="display: block"<%}
                                                            else{%>style="display: none"<%}%> itemscope itemtype="https://schema.org/Answer" itemprop="acceptedAnswer">
                                                          <div itemprop="text">
                                                            <%- faqs.faq[j].content %>
                                                          </div> 
                                                        </div>
                                                    </div>
                                                  <% } 
                                                  else{ %>
                                                    <div class="faq-main-content">
                                                        <div class="faq-question-title" onclick="showHideContent(this)">
                                                          <div style="width: <%=  setting.templateSetting.faq_font_size %>px; position: relative">
                                                            <svg fill="<%= setting.templateSetting.faq_font_color %>" class="faq-icon fa-plus" <% if(j === 0){%> style="opacity: 0"<%} else{%>style="opacity: 1"<%}%> viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                                            <svg fill="<%= setting.templateSetting.faq_font_color %>" class="fa-minus faq-icon" <% if(j === 0){%> style="opacity: 1"<%} else{%>style="opacity: 0"<%}%> viewBox="0 0 448 512"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                                          </div>
                                                          <span class="listed-faq"><%= faqs.faq[j].title %> </span>
                                                        </div>
                                                        <div id="faq-answer-content" class="faq-answer-content" <% if(j === 0){%> style="display: block"<%}
                                                            else{%>style="display: none"<%}%>>
                                                          <div>
                                                            <%- faqs.faq[j].content %>
                                                          </div> 
                                                        </div>
                                                    </div>
                                                  <% } %>
                                                <% } %>
                                            <%}%>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }
            else{ %>
                <div class="faq-dont-category">
                    <div style="display: flex; flex-direction: column">
                        <% for(var j = 0; j < faqs.faq.length; j++) { %>
                          <% if(setting.data.faq_page_schema) {%>
                            <div class="faq-main-content"  itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                <div class="faq-question-title" onclick="showHideContent(this)">
                                  <div style="width: <%=  setting.templateSetting.faq_font_size %>px; position: relative">
                                    <svg fill="<%= setting.templateSetting.faq_font_color %>" class="faq-icon fa-plus" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                    <svg fill="<%= setting.templateSetting.faq_font_color %>" class="fa-minus faq-icon" viewBox="0 0 448 512"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                  </div>
                                  <span class="listed-faq" itemprop="name"><%= faqs.faq[j].title %> </span>
                                </div>
                                <div class="faq-answer-content" style="display: none" itemscope itemtype="https://schema.org/Answer" itemprop="acceptedAnswer">
                                    <div itemprop="text">
                                      <%- faqs.faq[j].content %>
                                    </div> 
                                </div>
                            </div>
                          <% } 
                          else{ %>
                            <div class="faq-main-content">
                                <div class="faq-question-title" onclick="showHideContent(this)">
                                  <div style="width: <%=  setting.templateSetting.faq_font_size %>px; position: relative">
                                    <svg fill="<%= setting.templateSetting.faq_font_color %>" class="faq-icon fa-plus" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                    <svg fill="<%= setting.templateSetting.faq_font_color %>" class="fa-minus faq-icon" viewBox="0 0 448 512"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                  </div>
                                  <span class="listed-faq"><%= faqs.faq[j].title %> </span>
                                </div>
                                <div class="faq-answer-content" style="display: none">
                                    <div>
                                      <%- faqs.faq[j].content %>
                                    </div> 
                                </div>
                            </div>
                          <% } %>
                        <%}%>
                    </div>
                </div>
            <% } %>
            <div class="category-faq-search">
                <div style="display: flex; flex-direction: column">
                    <% for(var i=0; i < faqs.categories.length; i++) { %>
                        <div>
                            <% for(var j=0; j < faqs.faq.length; j++) { %>
                                <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                                    <% if(setting.data.faq_page_schema) {%>
                                      <div class="faq-main-content"  itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                          <div class="faq-question-title" onclick="showHideContent(this)">
                                            <div style="width: <%=  setting.templateSetting.faq_font_size %>px; position: relative">
                                              <svg fill="<%= setting.templateSetting.faq_font_color %>" class="faq-icon fa-plus" style="opacity: 1" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                              <svg fill="<%= setting.templateSetting.faq_font_color %>" class="fa-minus faq-icon" style="opacity: 0" viewBox="0 0 448 512"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                            </div>
                                            <span class="listed-faq faq-question-search" itemprop="name"><%= faqs.faq[j].title %></span>
                                          </div>
                                          <div class="faq-answer-content faq-answer-search" style="display: none;" itemscope itemtype="https://schema.org/Answer" itemprop="acceptedAnswer">
                                            <div itemprop="text">
                                              <%- faqs.faq[j].content %>
                                            </div>
                                          </div>
                                      </div>
                                    <% } 
                                    else{ %>
                                      <div class="faq-main-content">
                                          <div class="faq-question-title" onclick="showHideContent(this)">
                                            <div style="width: <%=  setting.templateSetting.faq_font_size %>px; position: relative">
                                              <svg fill="<%= setting.templateSetting.faq_font_color %>" class="faq-icon fa-plus" style="opacity: 1" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                              <svg fill="<%= setting.templateSetting.faq_font_color %>" class="fa-minus faq-icon" style="opacity: 0" viewBox="0 0 448 512"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                            </div>
                                            <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                          </div>
                                          <div class="faq-answer-content faq-answer-search" style="display: none;">
                                            <div>
                                              <%- faqs.faq[j].content %>
                                            </div>
                                          </div>
                                      </div>
                                    <% } %>
                                <% } %>
                            <%}%>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }
        else{ %>
            <div class="page-under-contruction">
                <%- setting.data.page_under_contruction %>
            </div>
        <% } %>
        <div id="not-found-text">
            <% if(setting.data.search_not_found) {%>
                <%- setting.data.search_not_found %>
            <% } %>
        </div>
        <% if(setting.data.show_footer_text) {%>
            <div class="faq-footer-text">
                <% if(setting.data.footer_text_content) {%>
                    <%- setting.data.footer_text_content %>
                <% } %>
            </div>
        <% } %>
        <% if(setting.data.yanet_logo_visible) {%>
            <div class="" style="text-align: center; padding-bottom: 10px">
                <a href="https://apps.shopify.com/yanet-professional-faq-page" class="yanet-logo" target="_blank">Powered by Yanet</a>
            </div>
        <% } %>
        <% if(setting.templateSetting.btn_top_visible) {%>
            <div class="btn-back-to-top" onclick="topFunction()" id="back-to-top" title="Go to top">
                <svg fill="#ffffff" height="14" width="14" viewBox="0 0 448 512"><path d="M246.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 109.3 361.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160zm160 352l-160-160c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 301.3 361.4 438.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3z"/></svg>
            </div>
        <% } %>
    </div>
</div>
<script>
  if(document.getElementById("back-to-top")){
    let mybutton = document.getElementById("back-to-top");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
            mybutton.style.display = "flex";
        } 
        else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollIntoView({  
            behavior: "smooth"
        });    
    }
  }
    var categoryId = []
    function changeCategory(id, faq_hover_color, category_bar_background, banner_visible){
        if(!categoryId.some(item => {
            return item === id
        })){            
            categoryId.push(id)
        }
        var categoryShow = categoryId.filter(item => {
            return item === id
        })
        var categoryHide = categoryId.filter(item => {
            return item !== id
        })
        if(id != '0'){
            if(banner_visible){
                document.getElementById('faq-category0').style.backgroundColor = 'unset'
            }
            else{
                document.getElementById('faq-category0').style.backgroundColor = `${faq_hover_color}`
            }
            document.getElementById(`category0`).style.display = 'none'
        }
        else{
            document.getElementById('faq-category0').style.backgroundColor = `${category_bar_background}`
        }
        if(categoryId.length === 1){
            if(banner_visible){
                document.getElementById('faq-category0').style.backgroundColor = 'unset'
            }
            else{
                document.getElementById('faq-category0').style.backgroundColor = `${faq_hover_color}`
            }
        }
        for(i = 0; i < document.getElementsByClassName('faq-answer-content').length; i++){
            document.getElementsByClassName('faq-answer-content')[i].style.display = 'none'
            document.getElementsByClassName('fa-plus')[i].style.opacity = '1'
            document.getElementsByClassName('fa-minus')[i].style.opacity = '0'
        }
        for(let i = 0; i < categoryId.length; i++){
            if(categoryId[i] == id){
                document.getElementById(`category${id}`).style.display = 'block'
                document.getElementById(`faq-category${categoryId[i]}`).style.backgroundColor = `${category_bar_background}`
            }
            else{
                document.getElementById(`category${categoryId[i]}`).style.display = 'none'
                if(banner_visible){
                    document.getElementById(`faq-category${categoryId[i]}`).style.backgroundColor = 'unset'
                }
                else{
                    document.getElementById(`faq-category${categoryId[i]}`).style.backgroundColor = `${faq_hover_color}`
                }
            }
        }
    }
    function showHideContent(el) {
        var content = el.nextElementSibling;
        var iconPlus = el.getElementsByClassName('fa-plus')
        var iconMinus = el.getElementsByClassName('fa-minus')
        if (content.style.display == "none") {
            content.style.display = "block";
        } 
        else {
            content.style.display = "none";
        }
        if (iconPlus[0].style.opacity === "0") {
            iconMinus[0].style.transform = "rotate(0deg)";
            iconMinus[0].style.transition  = "all 0s";
            iconMinus[0].style.opacity = "0";
            iconPlus[0].style.transform = "rotate(180deg)";
            iconPlus[0].style.opacity = "1";
            iconPlus[0].style.transition  = "all .7s";
        } 
        else {
            iconPlus[0].style.transform = "rotate(360deg)";
            iconPlus[0].style.transition  = "all 0s";
            iconPlus[0].style.opacity = "0";
            iconMinus[0].style.transform = "rotate(180deg)";
            iconMinus[0].style.transition  = "ease-in .3s";
            iconMinus[0].style.opacity = "1";
        }
    }
    function simpleSearch() {
        var input = document.getElementById("search-text");
        var filter = input.value.toLowerCase();
        var filterByQuestion = document.getElementsByClassName('faq-question-search');
        var filterByAnswer = document.getElementsByClassName('faq-answer-search');
        var nodeCategory = document.getElementsByClassName('category-faq-search');
        if(<%=  setting.data.dont_category_faq%> == false){
            if(document.getElementById('search-text').value === ''){
                document.getElementsByClassName("faq-main")[0].style.alignItems = "unset"
                document.getElementsByClassName("category-faq-container")[0].style.display = "block"
                document.getElementsByClassName('category-bar')[0].style.display = "flex"
                nodeCategory[0].style.display = "none"
                for(i = 0; i < document.getElementsByClassName("faq-category-search").length; i++) {
                    document.getElementsByClassName("faq-category-search")[i].style.display = "block"
                }
            }
            else{
                document.getElementsByClassName("faq-main")[0].style.alignItems = "center"
                document.getElementsByClassName("category-faq-container")[0].style.display = "none"
                document.getElementsByClassName('category-bar')[0].style.display = "none"
                nodeCategory[0].style.display = "flex"
                for(i = 0; i < document.getElementsByClassName("faq-category-search").length; i++) {
                    document.getElementsByClassName("faq-category-search")[i].style.display = "none"
                }
            }
            var checkexist = true;
            for (i = 0; i < filterByQuestion.length; i++) {
                if (filterByQuestion[i].innerText.toLowerCase().includes(filter)) {
                    filterByQuestion[i].parentNode.parentNode.style.display = "block";
                    checkexist = false;
                } 
                else {
                    for(j = 0; j < filterByAnswer.length; j++){
                        if(filterByAnswer[j].innerText.toLowerCase().includes(filter)){
                            filterByQuestion[j].parentNode.parentNode.style.display = "block";
                            checkexist = false;        
                        }
                        else{
                            filterByQuestion[i].parentNode.parentNode.style.display = "none";
                        }
                    }
                }
            }
            if (checkexist) {
                document.getElementById("not-found-text").style.display = "block";
                nodeCategory[0].style.display = "none";
            } else {
                document.getElementById("not-found-text").style.display = "none";
            }
        }
        else{
            if(document.getElementById('search-text').value == ''){
                document.getElementsByClassName('faq-dont-category')[0].style.display = "flex"

                nodeCategory[0].style.display = "none"
                for(i = 0; i < document.getElementsByClassName("faq-category-search").length; i++) {
                    document.getElementsByClassName("faq-category-search")[i].style.display = "block"
                }
            }
            else{
                document.getElementsByClassName('faq-dont-category')[0].style.display = "none"

                nodeCategory[0].style.display = "flex"
                for(i = 0; i < document.getElementsByClassName("faq-category-search").length; i++) {
                    document.getElementsByClassName("faq-category-search")[i].style.display = "none"
                }
            }
            var checkexist = true;
            for (i = 0; i < filterByQuestion.length; i++) {
                if (filterByQuestion[i].innerText.toLowerCase().includes(filter)) {
                    filterByQuestion[i].parentNode.parentNode.style.display = "flex";
                    checkexist = false;
                } 
                else {
                    for(j = 0; j < filterByAnswer.length; j++){
                        if(filterByAnswer[j].innerText.toLowerCase().includes(filter)){
                            filterByQuestion[j].parentNode.parentNode.style.display = "flex";
                            checkexist = false;        
                        }
                        else{
                            filterByQuestion[i].parentNode.parentNode.style.display = "none";
                        }
                    }
                }
            }
            if (checkexist) {
                document.getElementById("not-found-text").style.display = "block";
                nodeCategory[0].style.display = "none";
            } else {
                document.getElementById("not-found-text").style.display = "none";
            }        
        }
    }
</script>
<style scoped>
    <% if(setting.templateSetting.width_faqs_accordian) { %>
    .faq-main {
        padding: 0 20px;
        max-width: <%- setting.templateSetting.width_faqs_accordian%>px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    <% } %>
    .faq-header-3 {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        min-height: <%- setting.templateSetting.banner_height%>px;
        max-width: 100vw;
        <% if (setting.templateSetting.banner_visible) { %>
            <% if (setting.templateSetting.image_banner) { %>
                background-image: url('<%- setting.templateSetting.image_banner%>');
            <% }
            else {%> 
                background-image: url('<%- setting.templateSetting.banner_default%>');
                <%} 
            %>;        
        <% } 
        else {%> 
            background-color: <%- setting.templateSetting.faq_hover_color%>;
            <%} 
        %>;        
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
        text-align: center; 
    }
    .category-faq-search{
        display: none; 
        margin-top: 60px;
        margin-bottom: 30px;
        width: 100%;
    }
    .faq-search-input{
        line-height: 1 !important;
        width: 100% !important; 
        max-width: 100% !important;
        outline: none !important; 
        border: 1px solid #ccc !important; 
        font-size: 16px !important;
        margin: 0 !important;
        background-color: white !important;
        box-shadow: none !important;
        min-height: 50px !important;
        <% if (setting.templateSetting.search_placeholder_font) { %>
            font-family: <%=  setting.templateSetting.search_placeholder_font %> !important;
        <% } %>
    }
    .faq-search-input-style1{
        border-radius: 4px !important; 
        padding: 16px !important; 
    }
    .faq-search-input-style2{
        border-radius: 30px !important; 
        padding: 16px 16px 16px 50px !important
    }
    .faq-question-title {
        display: flex; 
        position: relative;
        align-items: start;
        justify-content: space-between;
        width: 100%; 
        cursor: pointer;
        <% if (setting.templateSetting.faq_font_weight) { %>
            font-weight: <%=  setting.templateSetting.faq_font_weight %>;
        <% } if (setting.templateSetting.faq_font_color) { %>
            color: <%=  setting.templateSetting.faq_font_color %>;
        <% } if (setting.templateSetting.faq_font_size) { %>
            font-size: <%=  setting.templateSetting.faq_font_size %>px;
        <% } if (setting.templateSetting.faq_font_family) { %>
            font-family: <%=  setting.templateSetting.faq_font_family %>;
        <% } %>
    }
    <% if (setting.templateSetting.page_background_color) { %>
        .faq-question-title:hover {
            background-color: <%=  setting.templateSetting.page_background_color %> !important;
        }
    <% } %>
    .category-bar-item{
        border-radius: 4px 4px 0  0;
        word-break: break-word; 
        text-align: left; 
        cursor: pointer;
        font-size: 16px !important; 
        user-select: none; 
        padding: 10px 16px;

    }
    .faq-icon{
        margin-top: calc(<%- setting.templateSetting.faq_font_size%>px * 0.65);
        height: calc(<%- setting.templateSetting.faq_font_size%>px * 0.65);
        width: calc(<%- setting.templateSetting.faq_font_size%>px * 0.65);
        color: <%= setting.templateSetting.faq_font_color %>;
    }
    .category-bar{
        display: flex; 
        justify-content: center;
        flex-wrap: wrap; 
        <% if (setting.templateSetting.category_font_family) { %>
            font-family: <%=  setting.templateSetting.category_font_family %>;
        <% } %>
    }
    .faq-category-search{
        border-bottom: 1px solid #ccc; 
        width: 100%; 
        margin-top: 30px; 
        padding-bottom: 10px
    }
    .faq-page-title{
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        margin:0; 
        padding: 20px 30px !important; 
        font-weight: 900 !important;
        font-size:36px;
        <% if (setting.templateSetting.page_title_font) { %>
            font-family: <%=  setting.templateSetting.page_title_font %> !important;
        <% } if (setting.templateSetting.page_title_fontsize) { %>
            font-size: <%=  setting.templateSetting.page_title_fontsize %>px !important;
        <% } if (setting.templateSetting.page_title_color) { %>
            color: <%=  setting.templateSetting.page_title_color %> !important;
        <% } if (setting.templateSetting.page_title_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.page_title_paddingtop %>px !important;
        <% } if (setting.templateSetting.page_title_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.page_title_paddingbottom %>px !important;
        <% } %>
    }
    .faq-main-content{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .faq-main-container{
        padding-bottom: 30px;
    }
    .faq-dont-category{
        display: flex;
        margin-top: 60px; 
        padding-bottom: 30px;
    }
    .fa-minus{
        position: absolute;
        left: 0
    }
    .faq-search{
        width: 60%;
        margin: auto;
        padding: 0;
        overflow: hidden;
        border: none;
        background-color: unset;
    }
    .faq-search-no-title{
        width: 60%;
        margin: auto;
        margin-top: 70px;
        padding: 0;
        overflow: hidden;
    }
    .faq-intro-text{
        padding: 10px 30px; 
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        font-size: 18px;
        text-align: center; 
        <% if (setting.templateSetting.intro_text_font) { %>
            font-family: <%=  setting.templateSetting.intro_text_font %>;
        <% }  if (setting.templateSetting.intro_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.intro_text_fontsize %>px;
        <% }  if (setting.templateSetting.intro_text_color) { %>
            color: <%=  setting.templateSetting.intro_text_color %>;
        <% }  if (setting.templateSetting.intro_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.intro_text_paddingtop %>px;
        <% }  if (setting.templateSetting.intro_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.intro_text_paddingbottom %>px;
        <% } %>
    }
    .faq-category-title{
        width: 100%; 
        margin-top: 30px; 
        padding-bottom: 40px;
        word-wrap: break-word;
    }
    #not-found-text{
        display: none; 
        text-align: center; 
        font-size:36px; 
        margin-top: 30px;
        padding-bottom: 30px;
        <% if (setting.templateSetting.footer_text_font) { %>
          font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } %>
    }
    .page-under-contruction{
        text-align: center;
        font-size: 36px;
        margin: 60px 0;
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } %>
    }
    .faq-category-container{
        display: flex; 
        width: 100%;
    }
    .fa-plus{
      opacity: 1;
    }
    .fa-minus{
      opacity: 0;
      position: absolute
    }
    .faq-footer-text{
        padding: 10px 0; 
        font-size: 18px;
        text-align: center;
        margin-top: 30px; 
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.footer_text_fontsize %>px;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } if (setting.templateSetting.footer_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.footer_text_paddingtop %>px;
        <% } if (setting.templateSetting.footer_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.footer_text_paddingbottom %>px;
        <% } %>
    }
    .listed-faq{
        flex: 1;
        user-select: auto;
        word-wrap: break-word;
        word-break: break-word;
        padding-right: <%- setting.templateSetting.faq_font_size%>px;
        margin-left: 16px
    }
    .faq-container{
        width: 100%;
    }
    .faq-answer-content{
        margin:0; 
        padding: 4px 10px 4px calc(<%- setting.templateSetting.faq_font_size%>px + 16px);
        word-wrap: break-word;
    }
    svg:not(:root) {
        overflow:unset !important;
    }
    @media only screen and (max-width: 768px) {
        .faq-category-container{
            flex-direction: column;
        }
    }
    @media only screen and (max-width: 700px) {
      .faq-search {
          width: 90% !important;
          margin: auto;
          padding: 0;
          overflow: hidden !important;
          border: none !important;
          background-color: unset !important;
      }
      .faq-search-no-title{
          width: 90% !;
          margin: auto;
          margin-top: 70px;
          padding: 0;
          overflow: hidden;
      }
    }
    #micro-scope{
      <% if (setting.templateSetting.micro_scope_color) { %>
          fill: <%=  setting.templateSetting.micro_scope_color %>;
      <% } %>    
    }
    <% if (setting.templateSetting.placeholder_color) { %>
        ::placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
        :-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
        ::-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
    <% } %>
    <%
        if(setting.templateSetting.custom_css) { %>
            <%= setting.templateSetting.custom_css%>
        <%}
    %>
</style>