<% if(setting.data.faq_page_schema) {%>
  <div class="root-faq-template" itemscope itemtype="https://schema.org/FAQPage">
 <% }  
else{ %>
  <div class="root-faq-template">
<% } %>
    <div class="faq-header-3">
        <div>
          <% if(setting.data.page_title_content && setting.data.show_page_title) { %>
              <h1 class="faq-page-title"><%- setting.data.page_title_content %></h1>
          <% } %>
          <% if(setting.templateSetting.show_search_input) { %>
            <% if(setting.data.show_page_title && setting.data.page_title_content){%>
              <div class="faq-search" style="box-shadow: none;">
                <% if(setting.templateSetting.search_input_style == 1) { %>
                  <input class="faq-search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                <% } %>   
                <% if(setting.templateSetting.search_input_style == 2) { %>
                  <div style="position:relative;">
                    <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                    <input class="faq-search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                  </div>
                <% } %>   
              </div>
            <%}
            else{%>
                <div class="faq-search-no-title">
                    <% if(setting.templateSetting.search_input_style == 1) { %>
                        <input class="faq-search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                    <% } %>
                    <% if(setting.templateSetting.search_input_style == 2) { %>
                        <div style="position:relative;">
                            <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                            <input class="faq-search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">                                
                        </div>
                    <% } %>
                </div>
            <%} %>
          <% } %>
        </div>
        <div>
            <% if(setting.data.show_intro_text && setting.data.intro_text_content) {%>
                <div class="faq-intro-text">
                    <span><%- setting.data.intro_text_content %></span>
                </div>
            <% } %>    
        </div>
    </div>
    <div class="faq-main">
        <% if(!setting.data.show_page_construction){%>
            <% if(faqs && !setting.data.dont_category_faq){ %>
                <div class="faq-main-container">
                    <div class="faq-category-container">
                        <% if(faqs.categories.length){%>
                          <% if(faqs.user_id === 2376){%>
                            <div class="category-bar" style="color: <%=  setting.templateSetting.category_bar_color %>">
                              <% for(var i = 0; i < faqs.categories.length; i++) { %>
                                  <div style="text-decoration: none; color: <%=  setting.templateSetting.category_bar_color %>">
                                    <div onclick="changeCategory('<%- i %>','<%= setting.templateSetting.category_bar_background %>', '<%=  setting.templateSetting.category_bar_color %>', '<%=  faqs.user_id %>')" class="category-bar-item" id="faq-category<%- i %>" <% if(i === 0){%> style="word-break: break-word; text-align: left; padding: 10px; cursor: pointer; border-bottom: 1px solid #ccc; text-decoration: none; user-select: none; background-color: <%=  setting.templateSetting.category_bar_background %>; text-transform: <%=  setting.templateSetting.category_text_style %>"<%}else{%>style="word-break: break-word; text-align: left; padding: 10px; cursor: pointer; border-bottom: 1px solid #ccc; text-decoration: none; background-color: inherit !important; user-select: none; text-transform: <%=  setting.templateSetting.category_text_style %>"<%}%>><%- faqs.categories[i].title %></div>                                        
                                  </div>
                              <% } %>
                            </div>
                          <% }
                          else{ %>
                            <% if(faqs.user_id === 1){%>
                              <div class="category-bar category-bar-2048" style="color: <%=  setting.templateSetting.category_bar_color %>">
                                  <% for(var i = 0; i < faqs.categories.length; i++) { %>
                                      <a href="#<%- faqs.categories[i].title.replace(/ /g, '-') %>" <% if(i === 0 && faqs.user_id === 1){%> style="text-decoration: none; color: #fff"<%}else{%>style="text-decoration: none; color: <%=  setting.templateSetting.category_bar_color %>"<%}%>>
                                        <div onclick="changeCategory('<%- i %>','<%= setting.templateSetting.category_bar_background %>', '<%=  setting.templateSetting.category_bar_color %>', '<%=  faqs.user_id %>')" class="category-bar-item" id="faq-category<%- i %>" <% if(i === 0){%> style="word-break: break-word; text-align: left; padding: 10px; cursor: pointer; border-bottom: 1px solid #ccc; text-decoration: none; user-select: none; background-color: <%=  setting.templateSetting.category_bar_background %>; text-transform: <%=  setting.templateSetting.category_text_style %>"<%}else{%>style="word-break: break-word; text-align: left; padding: 10px; cursor: pointer; border-bottom: 1px solid #ccc; text-decoration: none; background-color: inherit !important; user-select: none; text-transform: <%=  setting.templateSetting.category_text_style %>"<%}%>><%- faqs.categories[i].title %></div>                                        
                                      </a>
                                  <% } %>
                              </div>
                            <% }
                            else{ %>
                              <div class="category-bar" style="color: <%=  setting.templateSetting.category_bar_color %>">
                                  <% for(var i = 0; i < faqs.categories.length; i++) { %>
                                      <a href="#<%- faqs.categories[i].title.replace(/ /g, '-') %>" style="text-decoration: none; color: <%=  setting.templateSetting.category_bar_color %>">
                                        <div onclick="changeCategory('<%- i %>','<%= setting.templateSetting.category_bar_background %>', '<%=  setting.templateSetting.category_bar_color %>', '<%=  faqs.user_id %>')" class="category-bar-item" id="faq-category<%- i %>" <% if(i === 0){%> style="word-break: break-word; text-align: left; padding: 10px; cursor: pointer; border-bottom: 1px solid #ccc; text-decoration: none; user-select: none; background-color: <%=  setting.templateSetting.category_bar_background %>; text-transform: <%=  setting.templateSetting.category_text_style %>"<%}else{%>style="word-break: break-word; text-align: left; padding: 10px; cursor: pointer; border-bottom: 1px solid #ccc; text-decoration: none; background-color: inherit !important; user-select: none; text-transform: <%=  setting.templateSetting.category_text_style %>"<%}%>><%- faqs.categories[i].title %></div>                                        
                                      </a>
                                  <% } %>
                              </div>
                            <% } %>
                          <% } %>
                            <div class="faq-container">
                                <div class="category-faq-container" id="category-container">
                                    <% for(var i=0; i < faqs.categories.length; i++) { %>
                                        <% if(i === 0) {%>
                                            <div id="dung">
                                                <div id="<%- faqs.categories[i].title %>" class="faq-category-title"><%- faqs.categories[i].title %></div>
                                                <% for(var j=0; j < faqs.faq.length; j++) { %>
                                                    <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                                                      <% if(setting.data.faq_page_schema) {%>
                                                        <div class="faq-main-content" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                                            <div class="faq-question-title" onclick="showHideContent(this)">
                                                                <span class="listed-faq" value itemprop="name"><%= faqs.faq[j].title %></span>
                                                                <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                                <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                            </div>
                                                            <div class="faq-answer-content " itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                                                <div itemprop="text">
                                                                  <%- faqs.faq[j].content %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      <% }
                                                      else{ %>
                                                        <div class="faq-main-content">
                                                            <div class="faq-question-title" onclick="showHideContent(this)">
                                                                <span class="listed-faq"><%= faqs.faq[j].title %></span>
                                                                <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                                <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                            </div>
                                                            <div class="faq-answer-content">
                                                                <div>
                                                                  <%- faqs.faq[j].content %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      <% } %>
                                                    <% } %>    
                                                <%}%>
                                            </div>
                                        <% } %>
                                        <div style="display: none;" id="category<%- i %>">
                                            <div id="<%- faqs.categories[i].title.replace(/ /g, '-') %>" class="faq-category-title"><%- faqs.categories[i].title %></div>
                                            <% for(var j=0; j < faqs.faq.length; j++) { %>
                                                <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                                                  <% if(setting.data.faq_page_schema) {%>
                                                    <div class="faq-main-content"  itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                                        <div class="faq-question-title" onclick="showHideContent(this)">
                                                            <span class="listed-faq" value itemprop="name"><%= faqs.faq[j].title %></span>
                                                            <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                            <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                        </div>
                                                        <div id="faq-answer-content" class="faq-answer-content " itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                                          <div itemprop="text">
                                                            <%- faqs.faq[j].content %>
                                                          </div>
                                                        </div>
                                                    </div>
                                                  <% }
                                                  else{ %>
                                                    <div class="faq-main-content">
                                                      <div class="faq-question-title" onclick="showHideContent(this)">
                                                          <span class="listed-faq"><%= faqs.faq[j].title %></span>
                                                          <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                          <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                                      </div>
                                                      <div id="faq-answer-content" class="faq-answer-content">
                                                        <div>
                                                          <%- faqs.faq[j].content %>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  <% } %>
                                                <% } %>
                                            <%}%>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }
            else{ %>
                <div class="faq-dont-category">
                    <% for(var j=0; j < faqs.faq.length; j++) { %>
                      <% if(setting.data.faq_page_schema) {%>
                        <div class="faq-main-content"  itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <div class="faq-question-title" onclick="showHideContent(this)">
                                <span class="listed-faq" itemprop="name"><%= faqs.faq[j].title %></span>
                                <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                            </div>
                            <div class="faq-answer-content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div itemprop="text">
                                      <%- faqs.faq[j].content %>
                                    </div>
                            </div>
                        </div>                    
                      <% } 
                      else{ %>
                        <div class="faq-main-content">
                          <div class="faq-question-title" onclick="showHideContent(this)">
                              <span class="listed-faq"><%= faqs.faq[j].title %></span>
                              <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                              <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                          </div>
                          <div class="faq-answer-content">
                            <div>
                              <%- faqs.faq[j].content %>
                            </div>
                          </div>
                      </div>
                      <% } %>
                    <%}%>
                </div>
            <% } %>
            <div class="category-faq-search">
                <% for(var i=0; i < faqs.categories.length; i++) { %>
                    <div>
                        <% for(var j=0; j < faqs.faq.length; j++) { %>
                            <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                              <% if(setting.data.faq_page_schema) {%>
                                  <div class="faq-main-content"  itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                    <div class="faq-question-title" onclick="showHideContent(this)">
                                        <span class="listed-faq faq-question-search" itemprop="name"><%= faqs.faq[j].title %></span>
                                        <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                        <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                    </div>
                                    <div class="faq-answer-content faq-answer-search" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <div itemprop="text">
                                      <%- faqs.faq[j].content %>
                                    </div>
                                    </div>
                                </div>
                              <% } 
                              else{ %> 
                                <div class="faq-main-content">
                                  <div class="faq-question-title" onclick="showHideContent(this)">
                                      <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                      <svg class="svg-plus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                      <svg class="svg-minus" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                                  </div>
                                  <div class="faq-answer-content faq-answer-search">
                                      <div>
                                    <%- faqs.faq[j].content %>
                                  </div>
                                  </div>
                                </div>
                              <% } %>
                            <% } %>
                        <%}%>
                    </div>
                <% } %>
            </div>
        <% }
        else{ %>
            <div class="page-under-contruction">
                <%- setting.data.page_under_contruction %>
            </div>
        <% } %>
        <div id="not-found-text">
            <% if(setting.data.search_not_found) {%>
                <%- setting.data.search_not_found %>
            <% } %>
        </div>
        <% if(setting.data.show_footer_text) {%>
            <div class="faq-footer-text">
                <% if(setting.data.footer_text_content) {%>
                    <%- setting.data.footer_text_content %>
                <% } %>
            </div>
        <% } %>
        <% if(setting.data.yanet_logo_visible) {%>
            <div class="" style="text-align: center; padding-bottom: 10px">
                <a href="https://apps.shopify.com/yanet-professional-faq-page" class="yanet-logo" target="_blank">Powered by Yanet</a>
            </div>
        <% } %>
        <% if(setting.templateSetting.btn_top_visible) {%>
            <div class="btn-back-to-top" onclick="topFunction()" id="back-to-top" title="Go to top">
                <svg fill="#ffffff" height="14" width="14" viewBox="0 0 448 512"><path d="M246.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 109.3 361.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160zm160 352l-160-160c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 301.3 361.4 438.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3z"/></svg>
            </div>
        <% } %>
    </div>
  </div>
<script> 
  if(document.getElementById("back-to-top")){
    let mybutton = document.getElementById("back-to-top");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
            mybutton.style.display = "flex";
        } 
        else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollIntoView({  
            behavior: "smooth"
        });    
    }
  }
    
    var categoryName = []
    function changeCategory(id, category_bar_background, category_bar_color, user_id){
        if(!categoryName.some(item => {
            return item === id
        })){            
            categoryName.push(id)
        }
        var categoryShow = categoryName.filter(item => {
            return item === id
        })
        var categoryHide = categoryName.filter(item => {
            return item !== id
        })
        for(i = 0; i < document.getElementsByClassName('faq-answer-content').length; i++){
            document.getElementsByClassName('faq-answer-content')[i].style.display = 'none'
            if(document.getElementsByClassName('svg-plus')[i]){
              document.getElementsByClassName('svg-plus')[i].style.opacity = '1'
              document.getElementsByClassName('svg-plus')[i].style.transform = "rotate(0deg)";
              document.getElementsByClassName('svg-plus')[i].style.transition  = "all .7s";
            }
            if(document.getElementsByClassName('svg-minus')[i]){
              document.getElementsByClassName('svg-minus')[i].style.transform = "rotate(0deg)";
              document.getElementsByClassName('svg-minus')[i].style.transition  = "ease-in .3s";
              document.getElementsByClassName('svg-minus')[i].style.opacity = '0'
            }
        }
        if(user_id == 1){
          document.querySelector('.faq-category-title').scrollMarginTop = "2000px"
          for(let i = 0; i < categoryName.length; i++){
            document.getElementById(`faq-category0`).style.color = `${category_bar_color}`
            if(categoryName[i] == id){
                document.getElementById(`category${id}`).style.display = 'block'
                document.getElementById(`faq-category${categoryName[i]}`).style.backgroundColor = `${category_bar_background}`
                document.getElementById(`faq-category${categoryName[i]}`).style.color = "#fff"
            }
            else{
                document.getElementById(`category${categoryName[i]}`).style.display = 'none'
                document.getElementById(`faq-category${categoryName[i]}`).style.backgroundColor = 'inherit'
                document.getElementById(`faq-category${categoryName[i]}`).style.color = `${category_bar_color}`
            }
          }
        }
        else{
          for(let i = 0; i < categoryName.length; i++){
              if(categoryName[i] == id){
                  document.getElementById(`category${id}`).style.display = 'block'
                  document.getElementById(`faq-category${categoryName[i]}`).style.backgroundColor = `${category_bar_background}`
                  document.getElementById(`faq-category${categoryName[i]}`).style.color = `${category_bar_color}`
              }
              else{
                  document.getElementById(`category${categoryName[i]}`).style.display = 'none'
                  document.getElementById(`faq-category${categoryName[i]}`).style.backgroundColor = 'inherit'
              }
          }
        }
        if(categoryName.length > 0){
            document.getElementById('dung').style.display = "none"
        }
        if(categoryName.length === 1){
            document.getElementsByClassName('category-bar-item')[0].style.backgroundColor = 'inherit'
        }
    }
    function showHideContent(el) {
        var content = el.nextElementSibling;
        var svgRight = el.getElementsByClassName('svg-plus')
        var svgDown = el.getElementsByClassName('svg-minus')
        if (content.style.display === "block") {
            content.style.display = "none";
        } 
        else {
            content.style.display = "block";
        }

        if (svgRight[0].style.opacity === "0") {
            svgRight[0].style.opacity = "1";
            svgRight[0].style.transform = "rotate(0deg)";
            svgRight[0].style.transition  = "all .7s";
        } 
        else {
            svgRight[0].style.transform = "rotate(180deg)";
            svgRight[0].style.transition  = "all 0s";
            svgRight[0].style.opacity = "0";
        }

        if (svgDown[0].style.opacity === "1") {
            svgDown[0].style.opacity = "0";
            svgDown[0].style.transform = "rotate(0deg)";
            svgDown[0].style.transition  = "all 0s";
        } else {
            svgDown[0].style.transform = "rotate(180deg)";
            svgDown[0].style.transition  = "ease-in .3s";
            svgDown[0].style.opacity = "1";
        }
    }
    function simpleSearch() {
        var input = document.getElementById("search-text");
        var filter = input.value.toLowerCase();
        var filterByQuestion = document.getElementsByClassName('faq-question-search');
        var filterByAnswer = document.getElementsByClassName('faq-answer-search');
        var nodeCategory = document.getElementsByClassName('category-faq-search');
        if(<%=  setting.data.dont_category_faq%> == false){
            if(document.getElementById('search-text').value === ''){
                document.getElementsByClassName("category-faq-container")[0].style.display = "block"
                document.getElementsByClassName('category-bar')[0].style.display = "flex"
                document.getElementsByClassName('faq-container')[0].style.width = "70%"
                nodeCategory[0].style.display = "none"
            }
            else{
                document.getElementsByClassName("category-faq-container")[0].style.display = "none"
                document.getElementsByClassName('category-bar')[0].style.display = "none"
                document.getElementsByClassName('faq-container')[0].style.width = "100%"
                nodeCategory[0].style.display = "block"
            }
            var checkexist = true;
            for (i = 0; i < filterByQuestion.length; i++) {
                if (filterByQuestion[i].innerText.toLowerCase().includes(filter)) {
                    filterByQuestion[i].parentNode.parentNode.style.display = "block";
                    checkexist = false;
                } 
                else {
                    for(j = 0; j < filterByAnswer.length; j++){
                        if(filterByAnswer[j].innerText.toLowerCase().includes(filter)){
                            filterByQuestion[j].parentNode.parentNode.style.display = "block";
                            checkexist = false;        
                        }
                        else{
                            filterByQuestion[i].parentNode.parentNode.style.display = "none";
                        }
                    }
                }
            }
            if (checkexist) {
                document.getElementById("not-found-text").style.display = "block";
                nodeCategory[0].style.display = "none";
            } else {
                document.getElementById("not-found-text").style.display = "none";
            }
        }
        else{
            if(document.getElementById('search-text').value === ''){
                document.getElementsByClassName('faq-dont-category')[0].style.display = "block"

                nodeCategory[0].style.display = "none"
            }
            else{
                document.getElementsByClassName('faq-dont-category')[0].style.display = "none"

                nodeCategory[0].style.display = "block"
            }
            var checkexist = true;
            for (i = 0; i < filterByQuestion.length; i++) {
                if (filterByQuestion[i].innerText.toLowerCase().includes(filter)) {
                    filterByQuestion[i].parentNode.parentNode.style.display = "block";
                    checkexist = false;
                } 
                else {
                    for(j = 0; j < filterByAnswer.length; j++){
                        if(filterByAnswer[j].innerText.toLowerCase().includes(filter)){
                            filterByQuestion[j].parentNode.parentNode.style.display = "block";
                            checkexist = false;        
                        }
                        else{
                            filterByQuestion[i].parentNode.parentNode.style.display = "none";
                        }
                    }
                }
            }
            if (checkexist) {
                document.getElementById("not-found-text").style.display = "block";
                nodeCategory[0].style.display = "none";
            } else {
                document.getElementById("not-found-text").style.display = "none";
            }        
        }
    }
</script>
<style>
    <% if(setting.templateSetting.width_faqs_accordian) { %>
    .faq-main {
        padding: 0 20px;
        max-width: <%- setting.templateSetting.width_faqs_accordian%>px !important;
        margin: auto;
    }
    <% } %>
    .faq-header-3 {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        min-height: <%- setting.templateSetting.banner_height%>px !important;
        max-width: 100vw;
        <% if (setting.templateSetting.banner_visible) { %>
            <% if (setting.templateSetting.image_banner) { %>
                background-image: url('<%- setting.templateSetting.image_banner%>');
            <% }
            else {%> 
                background-image: url('<%- setting.templateSetting.banner_default%>');
                <%} 
            %>;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
        <% } %>
        text-align: center; 
    }
    .category-faq-search{
        display: none; 
        border-top: 1px solid #ccc; 
        margin-top: 30px;
        margin-bottom: 30px
    }
    .faq-search-input{
        line-height: 1 !important;
        width: 100% !important; 
        max-width: 100% !important;
        outline: none !important; 
        border: 1px solid #ccc !important; 
        font-size: 16px !important;
        margin: 0 !important;
        background-color: white !important;
        box-shadow: none !important;
        min-height: 50px !important;
        <% if (setting.templateSetting.search_placeholder_font) { %>
            font-family: <%=  setting.templateSetting.search_placeholder_font %> !important;
        <% } %>
    }
    .faq-search-input-style1{
        border-radius: 4px !important; 
        padding: 16px !important; 
    }
    .faq-search-input-style2{
        border-radius: 30px !important; 
        padding: 16px 16px 16px 50px !important
    }
    .faq-question-title {
        padding: 10px; 
        display: flex; 
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%; 
        cursor: pointer;
        <% if (setting.templateSetting.faq_font_weight) { %>
            font-weight: <%=  setting.templateSetting.faq_font_weight %> !important;
        <% } if (setting.templateSetting.faq_font_color) { %>
            color: <%=  setting.templateSetting.faq_font_color %> !important;
        <% } if (setting.templateSetting.faq_font_size) { %>
            font-size: <%=  setting.templateSetting.faq_font_size %>px !important;
        <% } if (setting.templateSetting.faq_font_family) { %>
            font-family: <%=  setting.templateSetting.faq_font_family %> !important;
        <% } %>
    }
    .svg-plus{
        opacity: 1;
        height: 14px;
        width: 14px;
    }
    .svg-minus{
        position: absolute;
        right: 10px;
        opacity: 0;
        height: 14px;
        width: 14px;
    }
    .category-bar{
        border-top: 1px solid #ccc ;
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap; 
        margin: calc(<%=  setting.templateSetting.category_font_size %>px*1.8 + 40px) 30px 30px 0; 
        width: 30%;
        <% if (setting.templateSetting.category_font_family) { %>
            font-family: <%=  setting.templateSetting.category_font_family %>;
        <% } %>
    }
    .faq-page-title{
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        margin:0; 
        padding: 20px 0; 
        font-weight: 600;
        font-size:36px;
        <% if (setting.templateSetting.page_title_font) { %>
            font-family: <%=  setting.templateSetting.page_title_font %> !important;
        <% } if (setting.templateSetting.page_title_fontsize) { %>
            font-size: <%=  setting.templateSetting.page_title_fontsize %>px !important;
        <% } if (setting.templateSetting.page_title_color) { %>
            color: <%=  setting.templateSetting.page_title_color %> !important;
        <% } if (setting.templateSetting.page_title_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.page_title_paddingtop %>px !important;
        <% } if (setting.templateSetting.page_title_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.page_title_paddingbottom %>px !important;
        <% } %>
    }
    .faq-main-content{
        border-bottom: 1px solid #ccc;
    }
    .faq-main-container{
        padding-bottom: 30px;
    }
    .faq-dont-category{
        margin-top: 60px; 
        border-top: 1px solid #ccc;
        padding-bottom: 30px
    }
    .faq-search{
        width: 60%;
        margin: auto;
        padding: 0;
        overflow: hidden;
        border: none;
        background-color: unset;
    }
    .faq-search-no-title{
        width: 60%;
        margin: auto;
        margin-top: 70px;
        padding: 0;
        overflow: hidden;
    }
    .faq-intro-text{
        padding: 10px 30px; 
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        font-size: 18px;
        text-align: center; 
        <% if (setting.templateSetting.intro_text_font) { %>
            font-family: <%=  setting.templateSetting.intro_text_font %>;
        <% }  if (setting.templateSetting.intro_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.intro_text_fontsize %>px;
        <% }  if (setting.templateSetting.intro_text_color) { %>
            color: <%=  setting.templateSetting.intro_text_color %>;
        <% }  if (setting.templateSetting.intro_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.intro_text_paddingtop %>px;
        <% }  if (setting.templateSetting.intro_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.intro_text_paddingbottom %>px;
        <% } %>
    }
    .faq-category-title{
        border-bottom: 1px solid #ccc; 
        width: 100%; 
        margin-top: 30px; 
        padding-bottom: 10px;
        word-wrap: break-word;
        scroll-margin-top: 100px
    }
    #not-found-text{
        display: none; 
        text-align: center; 
        font-size:40px; 
        margin-top: 30px;
        padding-bottom: 30px;
        <% if (setting.templateSetting.search_placeholder_font) { %>
            font-family: <%=  setting.templateSetting.search_placeholder_font %>;
        <% } %>
    }
    .page-under-contruction{
        text-align: center;
        font-size: 40px;
        margin: 60px 0;
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } %>
    }
    .faq-category-container{
        display: flex; 
        width: 100%;
    }
    .faq-container{
        width: 70%;
    }
    .faq-footer-text{
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        padding: 10px 30px; 
        font-size: 18px;
        text-align: center;
        margin-top: 30px; 
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.footer_text_fontsize %>px;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } if (setting.templateSetting.footer_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.footer_text_paddingtop %>px;
        <% } if (setting.templateSetting.footer_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.footer_text_paddingbottom %>px;
        <% } %>
    }
    .listed-faq{
        flex: 1;
        user-select: auto;
        word-wrap: break-word;
        word-break: break-word;
        padding-right: <%- setting.templateSetting.faq_font_size%>px;
    }
    .faq-answer-content{
        display: none; 
        margin:0; 
        margin-bottom: 6px; 
        padding: 10px;
        position: relative;
        word-wrap: break-word;
    }

    .category-bar-item{
        font-size: 16px !important;
    }
    svg:not(:root) {
        overflow:unset !important;
    }
    @media only screen and (max-width: 768px) {
        .faq-category-container{
            flex-direction: column;
        }
        .faq-container{
            width: 100% !important;
        }
        .category-bar{
            width: 100% !important;
            margin: 0 !important;
            margin-top: 40px !important;
            <% if (setting.templateSetting.category_font_family) { %>
                font-family: <%=  setting.templateSetting.category_font_family %>;
            <% } %>    
        }
    }
    @media only screen and (max-width: 700px) {
        .faq-search {
            width: 95% !important;
            margin: auto;
            padding: 0;
            overflow: hidden;
        }
        .faq-search-no-title{
            width: 95% !;
            margin: auto;
            margin-top: 70px;
            padding: 0;
            overflow: hidden;
        }
    
    }
    <%
      if(setting.templateSetting.custom_css) { %>
          <%= setting.templateSetting.custom_css%>
      <%}
    %>
    #micro-scope{
        <% if (setting.templateSetting.micro_scope_color) { %>
            fill: <%=  setting.templateSetting.micro_scope_color %>;
        <% } %>    
    }
    <% if (setting.templateSetting.placeholder_color) { %>
        ::placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important};
        :-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important};
        ::-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important};
    <% } %>
</style>