<% if(setting.data.faq_page_schema) {%>
  <div class="root-faq-template" itemscope itemtype="https://schema.org/FAQPage">
 <% }  
else{ %>
  <div class="root-faq-template">
<% } %>
    <div class="faq-header-2">
        <div>
            <% if(setting.data.page_title_content && setting.data.show_page_title) { %>
                <h1 class="faq-page-title"><%- setting.data.page_title_content %></h1>
            <% } %>
            <% if(setting.templateSetting.show_search_input) { %>
                <% if(setting.data.show_page_title && setting.data.page_title_content){%>
                    <div class="faq-search-input">
                        <% if(setting.templateSetting.search_input_style == 1) { %>
                            <input class="search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                        <% } %>
                        <% if(setting.templateSetting.search_input_style == 2) { %>
                            <div style="position:relative;">
                                <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                                <input class="search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                            </div>
                        <% } %>
                    </div>
                <%}
                else{%>
                    <div class="faq-search-input" style="margin-top: 70px;">
                        <% if(setting.templateSetting.search_input_style == 1) { %>
                            <input class="search-input faq-search-input-style1" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                        <% } %>
                        <% if(setting.templateSetting.search_input_style == 2) { %>
                            <div style="position:relative;">
                                <svg id="micro-scope" style="position: absolute; left: 0; top: 50%; transform:translateY(-50%); margin-left: 18px" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                                <input class="search-input faq-search-input-style2" style="color: <%= setting.templateSetting.placeholder_color %>" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">                                
                            </div>
                        <% } %>
                    </div>
                <%} %>
            <% } %>
        </div>
        <div>
            <% if(setting.data.show_intro_text && setting.data.intro_text_content) {%>
                <div class="faq-intro-text">
                    <span><%- setting.data.intro_text_content %></span>
                </div>
            <% } %>    
        </div>
    </div>
    <div class="faq-main">
        <% if(!setting.data.show_page_construction){%>
            <% if(faqs && !setting.data.dont_category_faq){ %>
                <div style="padding: 30px 0">
                    <div>
                        <% if(faqs.categories.length){%>
                              <% if(setting.templateSetting.show_category_bar){%>
                                <% if(setting.templateSetting.category_bar_number === 1){%>
                                  <div class="category-yanet-main">
                                    <div class="category-bar">
                                        <% for(var i=0; i < faqs.categories.length; i++) { %>
                                            <a href="#<%- faqs.categories[i].title.replace(/ /g, '-') %>" class="faq-category-title faq-category-link" style="color: <%=  setting.templateSetting.category_bar_color %>"><%- faqs.categories[i].title %></a>
                                        <% } %>
                                    </div>
                                  </div>
                                <% } %>
                                <% if(setting.templateSetting.category_bar_number === 2){%>
                                  <div class="category-yanet-main">
                                    <div class="category-bar">
                                        <% for(var i=0; i < faqs.categories.length; i++) { %>
                                            <a href="#<%- faqs.categories[i].title.replace(/ /g, '-') %>" class="faq-category-title faq-category-link-2" style="color: <%=  setting.templateSetting.category_bar_color %>"><%- faqs.categories[i].title %></a>
                                        <% } %>
                                    </div>
                                  </div>
                                <% } %>
                              <% } %>
                            <div class="faq-yanet-main">
                                <% for(var i=0; i < faqs.categories.length; i++) { %>
                                    <div class="category-faq-container">
                                        <div id="<%- faqs.categories[i].title.replace(/ /g, '-') %>" class="faq-category-title faq-category-width"><%- faqs.categories[i].title %></div>
                                        <% for(var j=0; j < faqs.faq.length; j++) { %>
                                            <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                                              <% if(setting.data.faq_page_schema) {%>
                                                <div class="faq-main-content" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                                  <div class="faq-question-title" id="faq-question-title-<%= j+1 %>" itemprop="name" onclick="showHideContent(this)">
                                                      <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                                      <svg class="svg-right svg-style" fill="<%= setting.templateSetting.faq_font_color %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                                                  </div>
                                                  <div class="faq-answer-content faq-answer-search" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                                      <div itemprop="text">
                                                        <%- faqs.faq[j].content %>
                                                      </div>
                                                      <% if(setting.data.use_analytics) {%>
                                                      <div class="yanet-faq-evaluate">
                                                        <svg class="evaluate-svg like-faq-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M323.8 34.8c-38.2-10.9-78.1 11.2-89 49.4l-5.7 20c-3.7 13-10.4 25-19.5 35l-51.3 56.4c-8.9 9.8-8.2 25 1.6 33.9s25 8.2 33.9-1.6l51.3-56.4c14.1-15.5 24.4-34 30.1-54.1l5.7-20c3.6-12.7 16.9-20.1 29.7-16.5s20.1 16.9 16.5 29.7l-5.7 20c-5.7 19.9-14.7 38.7-26.6 55.5c-5.2 7.3-5.8 16.9-1.7 24.9s12.3 13 21.3 13L448 224c8.8 0 16 7.2 16 16c0 6.8-4.3 12.7-10.4 15c-7.4 2.8-13 9-14.9 16.7s.1 15.8 5.3 21.7c2.5 2.8 4 6.5 4 10.6c0 7.8-5.6 14.3-13 15.7c-8.2 1.6-15.1 7.3-18 15.1s-1.6 16.7 3.6 23.3c2.1 2.7 3.4 6.1 3.4 9.9c0 6.7-4.2 12.6-10.2 14.9c-11.5 4.5-17.7 16.9-14.4 28.8c.4 1.3 .6 2.8 .6 4.3c0 8.8-7.2 16-16 16H286.5c-12.6 0-25-3.7-35.5-10.7l-61.7-41.1c-11-7.4-25.9-4.4-33.3 6.7s-4.4 25.9 6.7 33.3l61.7 41.1c18.4 12.3 40 18.8 62.1 18.8H384c34.7 0 62.9-27.6 64-62c14.6-11.7 24-29.7 24-50c0-4.5-.5-8.8-1.3-13c15.4-11.7 25.3-30.2 25.3-51c0-6.5-1-12.8-2.8-18.7C504.8 273.7 512 257.7 512 240c0-35.3-28.6-64-64-64l-92.3 0c4.7-10.4 8.7-21.2 11.8-32.2l5.7-20c10.9-38.2-11.2-78.1-49.4-89zM32 192c-17.7 0-32 14.3-32 32V448c0 17.7 14.3 32 32 32H96c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32H32z"/></svg>
                                                        <svg class="evaluate-svg dislike-faq-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M323.8 477.2c-38.2 10.9-78.1-11.2-89-49.4l-5.7-20c-3.7-13-10.4-25-19.5-35l-51.3-56.4c-8.9-9.8-8.2-25 1.6-33.9s25-8.2 33.9 1.6l51.3 56.4c14.1 15.5 24.4 34 30.1 54.1l5.7 20c3.6 12.7 16.9 20.1 29.7 16.5s20.1-16.9 16.5-29.7l-5.7-20c-5.7-19.9-14.7-38.7-26.6-55.5c-5.2-7.3-5.8-16.9-1.7-24.9s12.3-13 21.3-13L448 288c8.8 0 16-7.2 16-16c0-6.8-4.3-12.7-10.4-15c-7.4-2.8-13-9-14.9-16.7s.1-15.8 5.3-21.7c2.5-2.8 4-6.5 4-10.6c0-7.8-5.6-14.3-13-15.7c-8.2-1.6-15.1-7.3-18-15.2s-1.6-16.7 3.6-23.3c2.1-2.7 3.4-6.1 3.4-9.9c0-6.7-4.2-12.6-10.2-14.9c-11.5-4.5-17.7-16.9-14.4-28.8c.4-1.3 .6-2.8 .6-4.3c0-8.8-7.2-16-16-16H286.5c-12.6 0-25 3.7-35.5 10.7l-61.7 41.1c-11 7.4-25.9 4.4-33.3-6.7s-4.4-25.9 6.7-33.3l61.7-41.1c18.4-12.3 40-18.8 62.1-18.8H384c34.7 0 62.9 27.6 64 62c14.6 11.7 24 29.7 24 50c0 4.5-.5 8.8-1.3 13c15.4 11.7 25.3 30.2 25.3 51c0 6.5-1 12.8-2.8 18.7C504.8 238.3 512 254.3 512 272c0 35.3-28.6 64-64 64l-92.3 0c4.7 10.4 8.7 21.2 11.8 32.2l5.7 20c10.9 38.2-11.2 78.1-49.4 89zM32 384c-17.7 0-32-14.3-32-32V128c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H32z"/></svg>
                                                      </div> 
                                                      <% } %>
                                                  </div>
                                                </div>
                                              <% }
                                              else{ %>
                                                <div class="faq-main-content">
                                                  <div class="faq-question-title" id="faq-question-title-<%= j+1 %>" onclick="showHideContent(this)">
                                                      <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                                      <svg class="svg-right svg-style" fill="<%= setting.templateSetting.faq_font_color %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                                                  </div>
                                                  <div class="faq-answer-content faq-answer-search">
                                                      <div>
                                                        <%- faqs.faq[j].content %>
                                                      </div>
                                                      <% if(setting.data.use_analytics) {%>
                                                        <div>
                                                          <div id="yanet-faq-evaluate-<%- faqs.faq[j].id %>" class="yanet-faq-evaluate">
                                                            <div class="yanet-faq-evaluate-child" onclick="evaluateFaq('like', <%- faqs.faq[j].id %>, <%- faqs.faq[j].liked_faq %>)">
                                                              <span id="faq-<%- faqs.faq[j].id %>-like"><%- faqs.faq[j].liked_faq %></span>
                                                              <svg class="evaluate-svg like-faq-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M323.8 34.8c-38.2-10.9-78.1 11.2-89 49.4l-5.7 20c-3.7 13-10.4 25-19.5 35l-51.3 56.4c-8.9 9.8-8.2 25 1.6 33.9s25 8.2 33.9-1.6l51.3-56.4c14.1-15.5 24.4-34 30.1-54.1l5.7-20c3.6-12.7 16.9-20.1 29.7-16.5s20.1 16.9 16.5 29.7l-5.7 20c-5.7 19.9-14.7 38.7-26.6 55.5c-5.2 7.3-5.8 16.9-1.7 24.9s12.3 13 21.3 13L448 224c8.8 0 16 7.2 16 16c0 6.8-4.3 12.7-10.4 15c-7.4 2.8-13 9-14.9 16.7s.1 15.8 5.3 21.7c2.5 2.8 4 6.5 4 10.6c0 7.8-5.6 14.3-13 15.7c-8.2 1.6-15.1 7.3-18 15.1s-1.6 16.7 3.6 23.3c2.1 2.7 3.4 6.1 3.4 9.9c0 6.7-4.2 12.6-10.2 14.9c-11.5 4.5-17.7 16.9-14.4 28.8c.4 1.3 .6 2.8 .6 4.3c0 8.8-7.2 16-16 16H286.5c-12.6 0-25-3.7-35.5-10.7l-61.7-41.1c-11-7.4-25.9-4.4-33.3 6.7s-4.4 25.9 6.7 33.3l61.7 41.1c18.4 12.3 40 18.8 62.1 18.8H384c34.7 0 62.9-27.6 64-62c14.6-11.7 24-29.7 24-50c0-4.5-.5-8.8-1.3-13c15.4-11.7 25.3-30.2 25.3-51c0-6.5-1-12.8-2.8-18.7C504.8 273.7 512 257.7 512 240c0-35.3-28.6-64-64-64l-92.3 0c4.7-10.4 8.7-21.2 11.8-32.2l5.7-20c10.9-38.2-11.2-78.1-49.4-89zM32 192c-17.7 0-32 14.3-32 32V448c0 17.7 14.3 32 32 32H96c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32H32z"/></svg>
                                                            </div>
                                                            <div class="yanet-faq-evaluate-child" style="margin-left: 16px" onclick="evaluateFaq('dislike', <%- faqs.faq[j].id %>, <%- faqs.faq[j].disliked_faq %>)">
                                                              <span id="faq-<%- faqs.faq[j].id %>-dislike"><%- faqs.faq[j].disliked_faq %></span>
                                                              <svg class="evaluate-svg dislike-faq-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M323.8 477.2c-38.2 10.9-78.1-11.2-89-49.4l-5.7-20c-3.7-13-10.4-25-19.5-35l-51.3-56.4c-8.9-9.8-8.2-25 1.6-33.9s25-8.2 33.9 1.6l51.3 56.4c14.1 15.5 24.4 34 30.1 54.1l5.7 20c3.6 12.7 16.9 20.1 29.7 16.5s20.1-16.9 16.5-29.7l-5.7-20c-5.7-19.9-14.7-38.7-26.6-55.5c-5.2-7.3-5.8-16.9-1.7-24.9s12.3-13 21.3-13L448 288c8.8 0 16-7.2 16-16c0-6.8-4.3-12.7-10.4-15c-7.4-2.8-13-9-14.9-16.7s.1-15.8 5.3-21.7c2.5-2.8 4-6.5 4-10.6c0-7.8-5.6-14.3-13-15.7c-8.2-1.6-15.1-7.3-18-15.2s-1.6-16.7 3.6-23.3c2.1-2.7 3.4-6.1 3.4-9.9c0-6.7-4.2-12.6-10.2-14.9c-11.5-4.5-17.7-16.9-14.4-28.8c.4-1.3 .6-2.8 .6-4.3c0-8.8-7.2-16-16-16H286.5c-12.6 0-25 3.7-35.5 10.7l-61.7 41.1c-11 7.4-25.9 4.4-33.3-6.7s-4.4-25.9 6.7-33.3l61.7-41.1c18.4-12.3 40-18.8 62.1-18.8H384c34.7 0 62.9 27.6 64 62c14.6 11.7 24 29.7 24 50c0 4.5-.5 8.8-1.3 13c15.4 11.7 25.3 30.2 25.3 51c0 6.5-1 12.8-2.8 18.7C504.8 238.3 512 254.3 512 272c0 35.3-28.6 64-64 64l-92.3 0c4.7 10.4 8.7 21.2 11.8 32.2l5.7 20c10.9 38.2-11.2 78.1-49.4 89zM32 384c-17.7 0-32-14.3-32-32V128c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H32z"/></svg>
                                                            </div>
                                                          </div>
                                                          <div style="display: none; justify-content: end" id="liked-<%- faqs.faq[j].id %>">
                                                            <svg style="margin-left: 4px; width: 20px; height: 20px" fill="#3975ea" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M323.8 34.8c-38.2-10.9-78.1 11.2-89 49.4l-5.7 20c-3.7 13-10.4 25-19.5 35l-51.3 56.4c-8.9 9.8-8.2 25 1.6 33.9s25 8.2 33.9-1.6l51.3-56.4c14.1-15.5 24.4-34 30.1-54.1l5.7-20c3.6-12.7 16.9-20.1 29.7-16.5s20.1 16.9 16.5 29.7l-5.7 20c-5.7 19.9-14.7 38.7-26.6 55.5c-5.2 7.3-5.8 16.9-1.7 24.9s12.3 13 21.3 13L448 224c8.8 0 16 7.2 16 16c0 6.8-4.3 12.7-10.4 15c-7.4 2.8-13 9-14.9 16.7s.1 15.8 5.3 21.7c2.5 2.8 4 6.5 4 10.6c0 7.8-5.6 14.3-13 15.7c-8.2 1.6-15.1 7.3-18 15.1s-1.6 16.7 3.6 23.3c2.1 2.7 3.4 6.1 3.4 9.9c0 6.7-4.2 12.6-10.2 14.9c-11.5 4.5-17.7 16.9-14.4 28.8c.4 1.3 .6 2.8 .6 4.3c0 8.8-7.2 16-16 16H286.5c-12.6 0-25-3.7-35.5-10.7l-61.7-41.1c-11-7.4-25.9-4.4-33.3 6.7s-4.4 25.9 6.7 33.3l61.7 41.1c18.4 12.3 40 18.8 62.1 18.8H384c34.7 0 62.9-27.6 64-62c14.6-11.7 24-29.7 24-50c0-4.5-.5-8.8-1.3-13c15.4-11.7 25.3-30.2 25.3-51c0-6.5-1-12.8-2.8-18.7C504.8 273.7 512 257.7 512 240c0-35.3-28.6-64-64-64l-92.3 0c4.7-10.4 8.7-21.2 11.8-32.2l5.7-20c10.9-38.2-11.2-78.1-49.4-89zM32 192c-17.7 0-32 14.3-32 32V448c0 17.7 14.3 32 32 32H96c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32H32z"/></svg>
                                                          </div>
                                                          <div style="display: none; justify-content: end" id="disliked-<%- faqs.faq[j].id %>">
                                                            <svg style="margin-left: 4px; width: 20px; height: 20px" fill="#3975ea" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M323.8 477.2c-38.2 10.9-78.1-11.2-89-49.4l-5.7-20c-3.7-13-10.4-25-19.5-35l-51.3-56.4c-8.9-9.8-8.2-25 1.6-33.9s25-8.2 33.9 1.6l51.3 56.4c14.1 15.5 24.4 34 30.1 54.1l5.7 20c3.6 12.7 16.9 20.1 29.7 16.5s20.1-16.9 16.5-29.7l-5.7-20c-5.7-19.9-14.7-38.7-26.6-55.5c-5.2-7.3-5.8-16.9-1.7-24.9s12.3-13 21.3-13L448 288c8.8 0 16-7.2 16-16c0-6.8-4.3-12.7-10.4-15c-7.4-2.8-13-9-14.9-16.7s.1-15.8 5.3-21.7c2.5-2.8 4-6.5 4-10.6c0-7.8-5.6-14.3-13-15.7c-8.2-1.6-15.1-7.3-18-15.2s-1.6-16.7 3.6-23.3c2.1-2.7 3.4-6.1 3.4-9.9c0-6.7-4.2-12.6-10.2-14.9c-11.5-4.5-17.7-16.9-14.4-28.8c.4-1.3 .6-2.8 .6-4.3c0-8.8-7.2-16-16-16H286.5c-12.6 0-25 3.7-35.5 10.7l-61.7 41.1c-11 7.4-25.9 4.4-33.3-6.7s-4.4-25.9 6.7-33.3l61.7-41.1c18.4-12.3 40-18.8 62.1-18.8H384c34.7 0 62.9 27.6 64 62c14.6 11.7 24 29.7 24 50c0 4.5-.5 8.8-1.3 13c15.4 11.7 25.3 30.2 25.3 51c0 6.5-1 12.8-2.8 18.7C504.8 238.3 512 254.3 512 272c0 35.3-28.6 64-64 64l-92.3 0c4.7 10.4 8.7 21.2 11.8 32.2l5.7 20c10.9 38.2-11.2 78.1-49.4 89zM32 384c-17.7 0-32-14.3-32-32V128c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H32z"/></svg>
                                                          </div>
                                                        </div>
                                                      <% } %>
                                                  </div>
                                                </div>
                                              <% } %>
                                            <%}%>
                                        <%}%>
                                    </div>
                                  <% if(setting.data.id == 4625) {%>
                                    <button onclick="showMoreFaqs(this, <%= i %>, 6)" class="yanet-btn-toggle btn-show-faq"></button>
                                  <% } %>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }
            else{ %>
                <div class="faq-yanet-main" style="padding: 30px 0;">
                    <% for(var j=0; j < faqs.faq.length; j++) { %>
                      <div class="category-faq-container">
                        <% if(setting.data.faq_page_schema) {%>
                          <div class="faq-main-content" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                              <div class="faq-question-title" id="faq-question-title-<%= j+1 %>" itemprop="name" onclick="showHideContent(this)">
                                  <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                  <svg class="svg-right svg-style" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                              </div>
                              <div class="faq-answer-content faq-answer-search" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                  <div itemprop="text">
                                    <%- faqs.faq[j].content %>
                                  </div>
                              </div>
                          </div>                 
                        <% } 
                        else{ %>
                        <div class="faq-main-content">
                            <div class="faq-question-title" id="faq-question-title-<%= j+1 %>" onclick="showHideContent(this)">
                                <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                <svg class="svg-right svg-style" fill="<%= setting.templateSetting.faq_font_color %>" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                            </div>
                            <div class="faq-answer-content faq-answer-search" >
                                <div>
                                  <%- faqs.faq[j].content %>
                                </div>
                            </div>
                          </div>  
                        <% } %>
                      </div>
                    <%}%>
                    <% if(setting.data.id == 4625) {%>
                      <button onclick="showMoreFaqs(this, 0, 6)" class="yanet-btn-toggle btn-show-faq"></button>
                    <% } %>
                </div>
            <% } %>
           
        <% }  
        else{ %>
            <div class="page-under-contruction">
                <%- setting.data.page_under_contruction %>
            </div>
        <% } %>
        <div id="not-found-text" class="faq-not-found">
            <% if(setting.data.search_not_found) {%>
                <%- setting.data.search_not_found %>
            <% } %>
        </div>
        <% if(setting.data.show_footer_text) {%>
            <div class="faq-footer-text">
                <% if(setting.data.footer_text_content) {%>
                    <%- setting.data.footer_text_content %>
                <% } %>
            </div>
        <% } %>
        <% if(setting.data.yanet_logo_visible) {%>
            <div class="" style="text-align: center; padding-bottom: 10px">
                <a href="https://apps.shopify.com/yanet-professional-faq-page" class="yanet-logo" target="_blank">Powered by Yanet</a>
            </div>
        <% } %>
        <% if(setting.templateSetting.btn_top_visible) {%>
            <div class="btn-back-to-top" onclick="topFunction()" id="back-to-top" title="Go to top">
                <svg fill="#ffffff" height="14" width="14" viewBox="0 0 448 512"><path d="M246.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 109.3 361.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160zm160 352l-160-160c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 301.3 361.4 438.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3z"/></svg>
            </div>
        <% } %>
    </div>
    <div></div>
</div>
<script>
  let be_link = 'https://backend-faq.yanet.io'
  // let be_link = 'https://3eea-2001-ee0-8206-576f-15e6-fcd1-aabf-b6c8.ngrok-free.app'

  if(document.getElementById("back-to-top")){
    let mybutton = document.getElementById("back-to-top");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
            mybutton.style.display = "flex";
        } 
        else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollIntoView({  
            behavior: "smooth"
        }); 
    }
  }
    function showHideContent(el) {
        var content = el.nextElementSibling;
        var svgRight = el.getElementsByClassName('svg-right')
        var svgDown = el.getElementsByClassName('svg-down')
        if (content.style.display === "block") {
            content.style.display = "none";
            svgRight[0].style.transform = "rotate(0deg)";
            svgRight[0].style.transition  = "all .2s";
        } 
        else {
          // if(use_analytics_faq === true){
          //   let link = `${be_link}/api/shop/faq/update_analytics/${faq_id}`
          //   fetch(link)
          //   .then(response => response.json())
          // }
          content.style.display = "block";
          svgRight[0].style.transform = "rotate(90deg)";
          svgRight[0].style.transition  = "all .2s";
        }
    }

    function showMoreFaqs(el, number, number_faq_show){
      if(<%= !setting.data.dont_category_faq %>){
        let categoryFaqContainer = document.getElementsByClassName('category-faq-container')[number]
        for(let j = 0; j < categoryFaqContainer.getElementsByClassName('faq-main-content').length; j++){
          if(j >= number_faq_show){
            categoryFaqContainer.getElementsByClassName('faq-main-content')[j].style.display = "block"
          }
        }
        document.getElementsByClassName('btn-show-faq')[number].style.display = "none"
      }
      else{
        for(let j = 0; j < <%= faqs.faq.length %>; j++){
          if(j >= number_faq_show){
            document.getElementsByClassName('faq-main-content')[j].style.display = "block"
          }
        }
        document.getElementsByClassName('btn-show-faq')[number].style.display = "none"
      }
    }

    let page = 1
    async function loadMoreFaqs(){
      page += 1
      if(page){
        let link = `${be_link}/faq-proxy?shop=<%= shop %>&locale=<%= locale %>&plan=<%= plan %>&page=${page}`
        await fetch(link)
          .then(res => res.text())
          .then(result => {
            var faq = document.createElement('p'); // is a node
            faq.innerHTML = result;
            document.getElementsByClassName('faq-yanet-main')[0].appendChild(faq)
          })
        let linkCategory = `${be_link}/category-proxy?shop=<%= shop %>&locale=<%= locale %>&plan=<%= plan %>&page=${page}`
        await fetch(linkCategory)
          .then(res => res.text())
          .then(result => {
            document.getElementsByClassName('category-yanet-main')[0].innerHTML = result
          })
        
      }
    }

    function hideFaq(){
      if(<%= !setting.data.dont_category_faq %>){
        for(let i = 0; i < <%= faqs.categories.length %>; i++){
          let categoryFaqContainer = document.getElementsByClassName('category-faq-container')[i]
          for(let j = 0; j < categoryFaqContainer.getElementsByClassName('faq-main-content').length; j++){
            if(j >= 6){
              categoryFaqContainer.getElementsByClassName('faq-main-content')[j].style.display = "none"
            }
          }
          if(categoryFaqContainer.getElementsByClassName('faq-main-content').length > 6){
            document.getElementsByClassName('btn-show-faq')[i].style.display = "block"
            let numberFaqHide = (categoryFaqContainer.getElementsByClassName('faq-main-content').length - 6)
            document.getElementsByClassName('btn-show-faq')[i].innerText = `See more (${numberFaqHide} Faqs)`
          }
          else{
            document.getElementsByClassName('btn-show-faq')[i].style.display = "none"
          }
        }
      }
      else{
        for(let j = 0; j < <%= faqs.faq.length %>; j++){
          if(j >= 6){
            document.getElementsByClassName('faq-main-content')[j].style.display = "none"
          }
        }
        if(document.getElementsByClassName('faq-main-content').length > 6){
          document.getElementsByClassName('btn-show-faq')[0].style.display = "block"
          let numberFaqHide = (document.getElementsByClassName('faq-main-content').length - 6)
          document.getElementsByClassName('btn-show-faq')[0].innerText = `See more (${numberFaqHide} Faqs)`
        }
        else{
          document.getElementsByClassName('btn-show-faq')[0].style.display = "none"
        }      
      }
    }
    if(<%= setting.data.id %> == 4625){
      hideFaq()
    }

    function evaluateFaq(type, id, number){
      document.getElementById(`yanet-faq-evaluate-${id}`).style.display = "none"
      let link = `${be_link}/api/shop/faq/analytics-faq/${id}?type=${type}`
      fetch(link)
      .then(response => response.json())
      if(type === 'like'){
        document.getElementById(`liked-${id}`).style.display = "flex"
        document.getElementById(`faq-${id}-like`).innerText = number + 1
      }
      if(type === 'dislike'){
        document.getElementById(`disliked-${id}`).style.display = "flex"
        document.getElementById(`faq-${id}-dislike`).innerText = number + 1
      }
    }

    function simpleSearch() {
      var input = document.getElementById("search-text");
      var filter = input.value.toLowerCase();
      var filterByQuestion = document.getElementsByClassName('faq-question-search');
      var filterByAnswer = document.getElementsByClassName('faq-answer-search');
      var nodeCategory = document.getElementsByClassName('category-faq-container');
      var categoryBar = document.getElementsByClassName('category-bar')
      if(categoryBar.length > 0){
          if(document.getElementById('search-text').value === ''){
            document.getElementsByClassName('category-bar')[0].style.display = "flex"
            for(i = 0; i < nodeCategory.length; i++){
                document.getElementsByClassName("faq-category-width")[i].style.display = "block"
            }
            if(<%= setting.data.id %> == 4625){
              for(let i = 0; i < <%= faqs.categories.length %>; i++){
                document.getElementsByClassName('btn-show-faq')[i].style.display = "block"
              }
            }
          }
          else{
            document.getElementsByClassName('category-bar')[0].style.display = "none"
            for(i = 0; i < nodeCategory.length; i++){
                document.getElementsByClassName("faq-category-width")[i].style.display = "none"
            }
            if(<%= setting.data.id %> == 4625){
              for(let i = 0; i < <%= faqs.categories.length %>; i++){
                document.getElementsByClassName('btn-show-faq')[i].style.display = "none"
              }
            }
          }
      }
      var checkexist = true;
      for (i = 0; i < filterByQuestion.length; i++) {
          if (filterByQuestion[i].innerText.toLowerCase().includes(filter)) {
              filterByQuestion[i].parentNode.parentNode.style.display = "block";
              checkexist = false;
          }
          else {
              for(j = 0; j < filterByAnswer.length; j++){
                  if(filterByAnswer[j].innerText.toLowerCase().includes(filter)){
                      filterByQuestion[j].parentNode.parentNode.style.display = "block";
                      checkexist = false;        
                  }
                  else{
                      filterByQuestion[i].parentNode.parentNode.style.display = "none";
                  }
              }
          }
      }
      for (j = 0; j < nodeCategory.length; j++) {
          let subFaq = nodeCategory[j].getElementsByClassName('faq-main-content');
          let checkDisplay = false;
          for (k = 0; k < subFaq.length; k++) {
              if(subFaq[k].style.display == "block") {
                  checkDisplay = true;
                  break;
              }
          }
          if (checkDisplay) {
              nodeCategory[j].style.display = "block";
          } else nodeCategory[j].style.display = "none";
      }
      if (checkexist) {
          document.getElementById("not-found-text").style.display = "block";
      } else {
          document.getElementById("not-found-text").style.display = "none";
      }
      if(<%= setting.data.id %> == 4625){
        if(document.getElementById('search-text').value === ''){
          hideFaq()
        }
        if(categoryBar.length <= 0){
          if(document.getElementById('search-text').value === ''){
            document.getElementsByClassName('btn-show-faq')[0].style.display = "block"
          }
          else{
            document.getElementsByClassName('btn-show-faq')[0].style.display = "none"
          }
        }
      }
    }

</script>
<style>
    <% if(setting.templateSetting.width_faqs_accordian) { %>
        .faq-main {
            padding: 0 20px;
            max-width: <%- setting.templateSetting.width_faqs_accordian%>px;
            margin: auto;
        }<% } 
    %>
    .faq-header-2 {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        min-height: <%- setting.templateSetting.banner_height%>px;
        max-width: 100vw;
        <% if (setting.templateSetting.banner_visible) { %>
            <% if (setting.templateSetting.image_banner) { %>
                background-image: url('<%- setting.templateSetting.image_banner%>');
            <% }
            else {%> 
                background-image: url('<%- setting.templateSetting.banner_default%>');
                <%} 
            %>;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: center;
            background-position-x: center;
        <% } %>
        text-align: center; 
    }
    .faq-page-title{
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        margin:0 !important; 
        padding: 20px 30px !important;  
        font-weight: 600 !important;
        font-size:36px !important;
        <% if (setting.templateSetting.page_title_font) { %>
            font-family: <%=  setting.templateSetting.page_title_font %> !important;
        <% } if (setting.templateSetting.page_title_fontsize) { %>
            font-size: <%=  setting.templateSetting.page_title_fontsize %>px !important;
        <% } if (setting.templateSetting.page_title_color) { %>
            color: <%=  setting.templateSetting.page_title_color %> !important;
        <% } if (setting.templateSetting.page_title_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.page_title_paddingtop %>px !important;
        <% } if (setting.templateSetting.page_title_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.page_title_paddingbottom %>px !important;
        <% } %>
    }

    .faq-search-input{
        width: 60% !important;
        margin: auto;
        padding: 0;
        overflow: hidden;
        border: none;
        background-color: unset;
    }
    .faq-intro-text{
        text-align: center; 
        padding: 10px 30px; 
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        font-size: 18px;
        <% if (setting.templateSetting.intro_text_font) { %>
            font-family: <%=  setting.templateSetting.intro_text_font %>;
        <% }  if (setting.templateSetting.intro_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.intro_text_fontsize %>px;
        <% }  if (setting.templateSetting.intro_text_color) { %>
            color: <%=  setting.templateSetting.intro_text_color %>;
        <% }  if (setting.templateSetting.intro_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.intro_text_paddingtop %>px;
        <% }  if (setting.templateSetting.intro_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.intro_text_paddingbottom %>px;
        <% } %>
    }

    .yanet-btn-show{
      display: flex;
      justify-content: center
    }
    .search-input{
        line-height: 1 !important;
        width: 100% !important; 
        outline: none !important; 
        border: 1px solid #ccc !important; 
        font-size: 16px !important;
        margin: 0 !important;
        max-width: 100% !important;
        background-color: white !important;
        box-shadow: none !important;
        min-height: 50px !important;
        <% if (setting.templateSetting.search_placeholder_font) { %>
            font-family: <%=  setting.templateSetting.search_placeholder_font %> !important;
        <% } %>
    }
    .faq-search-input-style1{
        border-radius: 4px !important; 
        padding: 16px !important; 
    }
    .faq-search-input-style2{
        border-radius: 30px !important; 
        padding: 16px 16px 16px 50px !important
    }

    .category-faq-container{
        margin-bottom: 12px;
    }
    .svg-right{
        width: <%- setting.templateSetting.faq_font_size%>px; 
        height: <%- setting.templateSetting.faq_font_size%>px
    }
    .faq-question-title{
        display: flex; 
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer; 
        padding: 12px;
    }
    svg:not(:root) {
        overflow:unset !important;
    }
    .listed-faq{
        user-select: auto;
        word-wrap: break-word;
        padding-right: <%- setting.templateSetting.faq_font_size%>px;
        word-break: break-word;
    }
    .category-bar{
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap; 
        margin-bottom: 20px;
        <% if (setting.templateSetting.faq_font_family) { %>
            font-family: <%=  setting.templateSetting.faq_font_family %>;
        <% } %>    
    }
    .faq-main-content{
        margin-bottom: 12px;
        border-radius: 4px;
        overflow: hidden;
    }
    .page-under-contruction{
        text-align: center;
        font-size: 48px;
        margin: 60px 0;
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } %>
    }
    .faq-category-width{
        width: 100%;
        padding: 10px 0 4px 0;
    }
    .faq-category-link{
        padding: 4px 8px; 
        margin:6px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        cursor: pointer; 
        text-decoration: none; 
        font-size: 16px !important; 
        background-color: #f6f6f7;
        font-weight: normal !important;
        <% if (setting.templateSetting.category_bar_background) { %>
            background-color: <%=  setting.templateSetting.category_bar_background %>;
        <% } %>    
    }
    .faq-category-link-2{
        padding: 8px 16px; 
        margin:6px; 
        border: 1px solid #ccc; 
        border-radius: 50px; 
        cursor: pointer; 
        text-decoration: none; 
        font-size: 16px !important; 
        background-color: #f6f6f7;
        font-weight: normal !important;
        <% if (setting.templateSetting.category_bar_background) { %>
            background-color: <%=  setting.templateSetting.category_bar_background %>;
        <% } %>    
    }
    .evaluate-svg{
      height: 20px;
      width: 20px;
      fill: <%=  setting.templateSetting.answer_font_color %>;
      cursor : pointer;
      margin-left: 4px
    }
    .like-faq-svg{
      margin-bottom: 4px
    }
    .yanet-faq-evaluate{
      display: flex;
      justify-content : end;
      align-items: center
    }
    .yanet-faq-evaluate-child{
      display: flex;
      align-items: center;
      cursor: pointer
    }
    .faq-not-found{
        display: none; 
        text-align: center; 
        font-size: 48px;
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } if (setting.templateSetting.footer_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.footer_text_paddingtop %>px;
        <% } if (setting.templateSetting.footer_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.footer_text_paddingbottom %>px;
        <% } %>
    }
    
    .faq-answer-content{
        display: none; 
        margin:0; 
        padding: 12px; 
        // border-radius: 0 0 4px 4px; 
        // border:1px solid #ccc;
        word-wrap: break-word;
    }
    .faq-footer-text{
        text-align: center; 
        padding: 10px 0; 
        font-size: 18px;
        margin-top: 30px; 
        <% if (setting.templateSetting.footer_text_font) { %>
            font-family: <%=  setting.templateSetting.footer_text_font %>;
        <% } if (setting.templateSetting.footer_text_fontsize) { %>
            font-size: <%=  setting.templateSetting.footer_text_fontsize %>px;
        <% } if (setting.templateSetting.footer_text_color) { %>
            color: <%=  setting.templateSetting.footer_text_color %>;
        <% } if (setting.templateSetting.footer_text_paddingtop) { %>
            padding-top: <%=  setting.templateSetting.footer_text_paddingtop %>px;
        <% } if (setting.templateSetting.footer_text_paddingbottom) { %>
            padding-bottom: <%=  setting.templateSetting.footer_text_paddingbottom %>px;
        <% } %>
    }
    <%
      if(setting.templateSetting.custom_css) { %>
          <%= setting.templateSetting.custom_css%>
      <%}
    %>
    @media only screen and (max-width: 700px) {
        .faq-search-input {
            width: 95% !important;
            margin: auto;
            padding: 0;
            overflow: hidden;
            border: none;
            background-color: unset;
        }
    }
    .svg-style{
        fill: <%=  setting.templateSetting.faq_font_color %> !important
    }
    <%
      if(setting.templateSetting.custom_css) { %>
          <%= setting.templateSetting.custom_css%>
      <%}
    %>
    #micro-scope{
    <% if (setting.templateSetting.micro_scope_color) { %>
        fill: <%=  setting.templateSetting.micro_scope_color %> !important;
    <% } %>    
    }
    <% if (setting.templateSetting.placeholder_color) { %>
        ::placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
        :-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
        ::-ms-input-placeholder {color:<%=  setting.templateSetting.placeholder_color %> !important}
    <% } %>
</style>