@tailwind base;
@tailwind components;
@tailwind utilities;

.help__desk-scroll::-webkit-scrollbar {
  width: 100px;
  height: 10px;
}

.help__desk-scroll::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.help__desk-scroll::-webkit-scrollbar-thumb {
  background: #767c80;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.help__desk-scroll::-webkit-scrollbar-thumb:hover {
  background: #767c80;
}
