.tox-statusbar {
  display: none !important;
}

.tox .tox-toolbar--scrolling .tox-toolbar__group {
  flex-shrink: 1 !important;
  flex-wrap: wrap !important;
}

.tox-menubar,
.tox-editor-header,
.tox-toolbar {
  background-color: #f6f6f6 !important;
}

.tox-tinymce {
  border-radius: 10px !important;
}
