
<% if (setting.data.user_id !== 2183) { %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Questrial" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Karla" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
  <meta name="keywords" content="FAQ, Yanet, FAQ shopify, Professional FAQs, FAQs page">
  <meta name="google-site-verification" content="Am5U1J4zctjtmoUkGP5Pg-zUln9f_7yznoP86r6veME" />
  <% if (setting.data.meta_tag_description) { %>
    <meta name="description" content="<%= setting.data.meta_tag_description %>">
  <% } else{ %>
    <meta name="description" content="With the FAQ Element, you can quickly and easily create a list of FAQs for your visitors. FAQs can be used on any page or post. Documentation & Videos ...">
  <% } %>
<% } %>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<% if (setting.data) {
  if (setting.templateSetting.template_number) {
    switch(setting.templateSetting.template_number) {
    case 1 : %>
        <%- include('./templates/one.ejs') %>
    <% break;
    case 2 : %>
        <%- include('./templates/two.ejs') %>
    <% break;
    case 3 : %>
        <%- include('./templates/three.ejs') %>
    <% break;
    case 4 : %>
        <%- include('./templates/four.ejs') %>
    <% break;
    case 5 : %>
        <%- include('./templates/five.ejs') %>
    <% break;
    case 6 : %>
        <%- include('./templates/six.ejs') %>
    <% break;
    case 7 : %>
        <%- include('./templates/seven.ejs') %>
    <% break;
    case 8 : %>
        <%- include('./templates/eight.ejs') %>
    <% break;
    case 100 : %>
        <%- include('./templates/demo.ejs') %>
    <% break;
    case 4931: %>
        <%- include('./templates/custom-4931.ejs') %>
    <% break;
    case 4932: %>
        <%- include('./templates/custom-4932.ejs') %>
    <% break;
    default: %>
    <%- include('./templates/one.ejs') %>
    <% break; }
  }else { %>
  <%- include('./templates/one.ejs') %>
  <% } %>
  <style>
    <% if (setting.templateSetting) { %>
    .faq-category-title {
    <% if (setting.templateSetting.category_font_weight) { %>
        font-weight: <%=  setting.templateSetting.category_font_weight %>;
    <% } if (setting.templateSetting.category_font_color) { %>
        color: <%=  setting.templateSetting.category_font_color %>;
    <% } if (setting.templateSetting.category_font_size) { %>
        font-size: <%=  setting.templateSetting.category_font_size %>px;
    <% } if (setting.templateSetting.category_font_family) { %>
        font-family: <%=  setting.templateSetting.category_font_family %>;
    <% } if (setting.templateSetting.category_text_style) { %>
        text-transform: <%=  setting.templateSetting.category_text_style %>;
    <% } if (setting.templateSetting.category_text_align) { %>
        text-align: <%=  setting.templateSetting.category_text_align %>;
    <% } %>
    }
    .faq-question-title {
    <% if (setting.templateSetting.faq_font_weight) { %>
        font-weight: <%=  setting.templateSetting.faq_font_weight %>;
    <% } if (setting.templateSetting.faq_font_color) { %>
        color: <%=  setting.templateSetting.faq_font_color %> ;
    <% } if (setting.templateSetting.faq_bg_color) { %>
        background-color: <%=  setting.templateSetting.faq_bg_color %>;
    <% } if (setting.templateSetting.faq_font_size) { %>
        font-size: <%=  setting.templateSetting.faq_font_size %>px;
    <% } if (setting.templateSetting.faq_font_family) { %>
        font-family: <%=  setting.templateSetting.faq_font_family %>;
    <% } %>
    }
    <% if (setting.templateSetting.faq_hover_color) { %>
        .faq-question-title:hover {
            background-color: <%=  setting.templateSetting.faq_hover_color %>;
        }
    <% } %>
    .faq-answer-content {
    <% if (setting.templateSetting.answer_font_weight) { %>
        font-weight: <%=  setting.templateSetting.answer_font_weight %>;
    <% } if (setting.templateSetting.answer_font_color) { %>
        color: <%=  setting.templateSetting.answer_font_color %>;
    <% } if (setting.templateSetting.answer_bg_color) { %>
        background-color: <%=  setting.templateSetting.answer_bg_color %>;
    <% } if (setting.templateSetting.answer_font_size) { %>
        font-size: <%=  setting.templateSetting.answer_font_size %>px;
    <% } if (setting.templateSetting.answer_font_family) { %>
        font-family: <%=  setting.templateSetting.answer_font_family %>;
    <% } %>
    }
    <% } %>
    .root-faq-template{
        line-height: 1.8;
        scroll-behavior: smooth;
        <% if (setting.templateSetting.page_background_color) { %>
            background-color: <%=  setting.templateSetting.page_background_color %>;
        <% } %>    
    }
    .btn-back-to-top{
        display: none;
        align-items: center;
        justify-content: center;
        height: 50px; 
        width: 50px; 
        border-radius: 4px; 
        cursor: pointer; 
        position: fixed;
        bottom: 20px;
        right: 90px;        
        background-color: <%= setting.templateSetting.btn_top_background%>
    }
    html {
      scroll-behavior: smooth;
    }
    .btn-back-to-top:hover{
        background-color: <%= setting.templateSetting.btn_top_hover%>
    }
    .yanet-logo{
      display: block !important;
      color: #4b4b4b !important; 
      font-size: 15px !important; 
      text-decoration: none !important; 
    }
    .root-faq-template img{
      max-width: 100% !important
    }
    .yanet-btn-toggle{
      cursor: pointer;
      padding: 8px;
      border-radius: 6px;
      border: 1px solid #ccc;
      background-color: #fff;
      margin: auto
    }
    .yanet-btn-toggle:hover{
      background-color: #f8f8f8;
      color: #000000
    }
  </style>
<% } %>