<div is="party-button" style="border: none;">
  <div class="help__desk" id="help__desk" style="overflow: hidden;">
    <div class="help__desk-button" onclick="showContent()" style="display: none">
      <svg class="help__desk-open-icon help__desk-icon-1" fill="#fff" height="36" width="36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM48 128V150.1L220.5 291.7C241.1 308.7 270.9 308.7 291.5 291.7L464 150.1V127.1C464 119.2 456.8 111.1 448 111.1H64C55.16 111.1 48 119.2 48 127.1L48 128zM48 212.2V384C48 392.8 55.16 400 64 400H448C456.8 400 464 392.8 464 384V212.2L322 328.8C283.6 360.3 228.4 360.3 189.1 328.8L48 212.2z"/></svg>
      <svg class="help__desk-open-icon help__desk-icon-2" fill="#fff" height="30" width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M447.1 0h-384c-35.25 0-64 28.75-64 63.1v287.1c0 35.25 28.75 63.1 64 63.1h96v83.98c0 9.836 11.02 15.55 19.12 9.7l124.9-93.68h144c35.25 0 64-28.75 64-63.1V63.1C511.1 28.75 483.2 0 447.1 0zM464 352c0 8.75-7.25 16-16 16h-160l-80 60v-60H64c-8.75 0-16-7.25-16-16V64c0-8.75 7.25-16 16-16h384c8.75 0 16 7.25 16 16V352z"/></svg>
      <svg class="help__desk-open-icon help__desk-icon-3" fill="#fff" height="30" width="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M208 0C322.9 0 416 78.8 416 176C416 273.2 322.9 352 208 352C189.3 352 171.2 349.7 153.9 345.8C123.3 364.8 79.13 384 24.95 384C14.97 384 5.93 378.1 2.018 368.9C-1.896 359.7-.0074 349.1 6.739 341.9C7.26 341.5 29.38 317.4 45.73 285.9C17.18 255.8 0 217.6 0 176C0 78.8 93.13 0 208 0zM164.6 298.1C179.2 302.3 193.8 304 208 304C296.2 304 368 246.6 368 176C368 105.4 296.2 48 208 48C119.8 48 48 105.4 48 176C48 211.2 65.71 237.2 80.57 252.9L104.1 277.8L88.31 308.1C84.74 314.1 80.73 321.9 76.55 328.5C94.26 323.4 111.7 315.5 128.7 304.1L145.4 294.6L164.6 298.1zM441.6 128.2C552 132.4 640 209.5 640 304C640 345.6 622.8 383.8 594.3 413.9C610.6 445.4 632.7 469.5 633.3 469.9C640 477.1 641.9 487.7 637.1 496.9C634.1 506.1 625 512 615 512C560.9 512 516.7 492.8 486.1 473.8C468.8 477.7 450.7 480 432 480C350 480 279.1 439.8 245.2 381.5C262.5 379.2 279.1 375.3 294.9 369.9C322.9 407.1 373.9 432 432 432C446.2 432 460.8 430.3 475.4 426.1L494.6 422.6L511.3 432.1C528.3 443.5 545.7 451.4 563.5 456.5C559.3 449.9 555.3 442.1 551.7 436.1L535.9 405.8L559.4 380.9C574.3 365.3 592 339.2 592 304C592 237.7 528.7 183.1 447.1 176.6L448 176C448 159.5 445.8 143.5 441.6 128.2H441.6z"/></svg>
      <svg class="help__desk-open-icon help__desk-icon-4" fill="#fff" height="40" width="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M96 96c-17.7 0-32 14.3-32 32s-14.3 32-32 32s-32-14.3-32-32C0 75 43 32 96 32h97c70.1 0 127 56.9 127 127c0 52.4-32.2 99.4-81 118.4l-63 24.5 0 18.1c0 17.7-14.3 32-32 32s-32-14.3-32-32V301.9c0-26.4 16.2-50.1 40.8-59.6l63-24.5C240 208.3 256 185 256 159c0-34.8-28.2-63-63-63H96zm48 384c-22.1 0-40-17.9-40-40s17.9-40 40-40s40 17.9 40 40s-17.9 40-40 40z"/></svg>
      <svg class="help__desk-open-icon help__desk-icon-5" fill="#fff" height="38" width="38" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M144 80c0 26.5-21.5 48-48 48s-48-21.5-48-48s21.5-48 48-48s48 21.5 48 48zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z"/></svg>
      <svg class="help__desk-close-icon" fill="#fff" height="38" width="38" style="display: none; font-weight: 200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
    </div>
    <div class="help__desk-container" style="line-height: 1.5">
      <div class="help__desk-height help__desk-home help__desk-scroll" >
        <div class="help__desk-main" style="height: 100px; margin: -35px; position:relative">
          <div class="help__desk-background" style="display: block"></div>
          <div class="help__desk-header" style="position:absolute; top:12px; width: calc(100% - 32px)">
            <div style="margin-left: 6px; margin-bottom: 4px">
              <p class="help__desk-hi"></p>
              <span class="help__desk-title" style="word-break: break-all"></span>
            </div>
            <div class="help__desk-icon" onclick="closeSend()" title="Close">
              <svg width="26" height="26" fill="#fff" style="margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
            </div>
          </div>        
        </div>
        <div class="help__desk-body" style="position:relative; margin-top: 66px; padding-bottom: 1px; border-radius: 6px;">
          <div class="help__desk-body-main">
            <div class="help__desk-contact-more help__desk-component" style="padding: 16px">
              <div class="help__desk-label help__desk-label-contactUs" style="margin: 0;"></div>
              <div style="display: flex; align-items:center; margin-top: 12px;">
                <a href="" class="send_faq-contact-link send_faq-contact-phone" id="send_faq-contact-phone" target="_blank" style="background-color: green">
                  <svg height="24" width="24" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                </a>  
                <a href="" class="send_faq-contact-link send_faq-contact-message" id="send_faq-contact-message" target="_blank" style="background-color: #316cf4">
                  <svg height="24" width="24" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z"/></svg>
                </a>  
                <a  href="" class="send_faq-contact-link send_faq-contact-email" id="send_faq-contact-email" target="_blank" style="background-color: #5e9bd9">
                  <svg height="24" width="24" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                </a>  
                <a href="" class="send_faq-contact-link send_faq-contact-whatsApp" id="send_faq-contact-whatsApp" target="_blank" style="background-color: green">
                  <svg height="24" width="24" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/></svg>
                </a>  
              </div>
            </div>
            <div class="help__desk-items-faq help__desk-component">
              <div class="help__desk-label help__desk-label-faq" style="margin: 0; padding: 16px 16px 0 16px"></div>
              <div class="help__desk-search" style="padding: 16px 16px 0 16px; margin-bottom: 8px">
                <div class="help__desk-search-main">
                  <svg width="16" height="16" fill="#000" xmlns="http://www.w3.org/2000/svg" style="margin: 2px 8px 0 12px" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
                  <input class="help__desk-search-input" onkeyup="searchFeatureFaq()" id="search-feature-faq" type="text" placeholder="">
                </div>
              </div>
              <div class="help__desk-main"> 
                <div class="help__desk-list help__desk-list-faq help__desk-scroll">
                </div>
              </div>
            </div>
            <div class="help__desk-items-category help__desk-component">
              <div class="help__desk-label help__desk-label-category" style="margin: 0; padding: 16px; border-bottom: 1px solid #e9edf1"></div>
              <div class="help__desk-main"> 
                <div class="help__desk-list help__desk-list-category help__desk-scroll">
                </div>
              </div>
            </div>
            <div class="help__desk-send-faq help__desk-component" style="padding: 16px; display: none">
              <div class="help__desk-name">
                <label class="help__desk-label help__desk-label-name" for="customer-name"></label>
                <div class="help__desk-info">
                  <input class="help__desk-input" id="customer-name" name="customer_name" type="text" placeholder="">
                </div>
              </div>
              <div class="help__desk-question">
                <label  class="help__desk-label help__desk-label-messages" for="faq-title"></label>
                <textarea class="help__desk-textarea" id="faq-title" name="faq_title" cols="12" rows="4" placeholder=""></textarea>
              </div>
              <div class="help__desk-contact">
                <label  class="help__desk-label help__desk-label-contact" for="customer-contact"></label>
                <div class="help__desk-info">
                  <input class="help__desk-input" id="customer-contact" name="customer_contact" type="text" placeholder="">
                </div>
              </div>
            </div>
            <div class="help__desk-footer" style="display: none">
              <span style="text-align:start; font-size: 16px;" id="messages"></span>
              <button style="width: 72px" onclick="Submit()" class="help__desk-submit">
                <span class="help__desk-label-send"></span>
                <div class="help__desk-loader" id="help__desk-loader">
                  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                    <path fill="#fff" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                      <animateTransform 
                        attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="0.6s"
                      repeatCount="indefinite"/>
                    </path>
                  </svg>
                </div>        
              </button>
            </div> 
          </div>
        </div>
      </div>
      <div class="help__desk-faq" style="display: none">
        <div class="help__desk-faq--main">
          <div class="help__desk-faq--header" style="position:relative">
            <div class="help__desk-faq-component">
              <div class="help__desk-icon" onclick="backHome()">
                <svg fill="#fff" width="24px" height="24px" style="cursor:pointer; margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>                
              </div>
              <div style="font-size: 24px">
                <span class="" style="color: white">FAQ</span>
              </div>
              <div class="help__desk-icon" onclick="closeSend()" title="Close">
                <svg width="26" height="26" fill="#fff" style="margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
              </div>
            </div>                          
          </div>
          <div class="help__desk-scroll help__desk-faq-height">
            <div style="margin: 0 16px; overflow: hidden">
              <p class="help__desk-faq--title" style="word-break: break-all; font-size: 16px; text-align: center; font-weight: 700; margin-top: 0"></p>
              <span class="help__desk-faq--content" style="font-weight: 400; word-break: break-all"></span>            
            </div>
          </div>
        </div>
      </div>
      <div class="help__desk-category" style="display: none">
        <div class="help__desk-faq--main">
          <div class="help__desk-category--header" style="position:relative">
            <div class="help__desk-category-component">
              <div class="help__desk-icon" onclick="backHome()" >
                <svg fill="#fff" width="24px" height="24px" style="cursor:pointer; margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>                
              </div>
              <div class="" style="font-size: 20px">
                <span class="help__desk-category--title" style="color: white"></span>
              </div>
              <div class="help__desk-icon" onclick="closeSend()" title="Close">
                <svg width="26" height="26" fill="#fff" style="margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
              </div>
            </div>                          
          </div>
          <div class="help__desk-faq-height help__desk-scroll">
            <div class="help__desk-search-main" style="margin: 0 16px 8px 16px">
              <svg width="16" height="16" fill="#000" xmlns="http://www.w3.org/2000/svg" style="margin: 2px 8px 0 12px" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
              <input class="help__desk-search-input" onkeyup="searchFaq()" id="search-faq" type="text" placeholder="">
            </div>
            <div class="feature-faq-category" style="display: block">
            </div>
          </div>
        </div>
      </div>
      <div class="help__desk-faq-category" style="display: none">
        <div class="help__desk-faq--main">
          <div class="faq-category--header" style="position:relative">
            <div class="faq-category-component">
              <div class="help__desk-icon" onclick="backCategory()">
                <svg fill="#fff" width="24px" height="24px" style="cursor:pointer; margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>                
              </div>
              <div style="font-size: 24px">
                <span class="" style="color: white">FAQ</span>
              </div>
              <div class="help__desk-icon" onclick="closeSend()" title="Close">
                <svg width="26" height="26" fill="#fff" style="margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
              </div>
            </div>                          
          </div>
          <div class="help__desk-scroll help__desk-faq-height">
            <div style="margin: 0 16px; overflow: hidden">
              <p class="faq-category--title" style="word-break: break-all; font-size: 16px; text-align: center; font-weight: 700; margin-top: 0"></p>
              <span class="faq-category--content" style="font-weight: 400; word-break: break-all"></span>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>

</style>
<script>
  var messages_setting
  let faqs = []
  let categories = []
  let show_feature_faq = false
  let show_feature_category = false
  let feature_faqs = []
  let feature_faqs_origin = []
  let feature_categories = []
  let faq_category_origin = []
  var content_feature_faqs = ''
  var content_feature_categories = ''
  const help_desk_button = document.getElementsByClassName('help__desk-button')[0]
  const help_desk_container = document.getElementsByClassName('help__desk-container')[0]
  const help_desk_background = document.getElementsByClassName('help__desk-background')[0]
  const help_desk_header = document.getElementsByClassName('help__desk-header')[0]
  const help_desk_submit = document.getElementsByClassName('help__desk-submit')[0]
  document.getElementById('help__desk-loader').style.display = 'none'

  const domain = 'https://tile-asn-raw-dozens.trycloudflare.com'
  fetch(`${domain}/api/help-desk/messages/{{shop.permanent_domain}}`)
  .then(response => response.json())
  .then (data => {
    messages_setting = data.message_setting
    console.log(messages_setting)
    messages_setting.help_desk_visible === true? help_desk_button.style.display = 'flex' : help_desk_button.style.display = 'none'

    help_desk_button.style.backgroundColor = messages_setting.button_background_color

    help_desk_container.style.fontFamily = messages_setting.font_family;

    help_desk_background.style.backgroundColor = messages_setting.theme_color;
    help_desk_header.style.color = messages_setting.text_color;

    help_desk_submit.style.color = messages_setting.text_color;
    help_desk_submit.style.backgroundColor = messages_setting.theme_color;
    document.getElementsByClassName('help__desk-faq--header')[0].style.backgroundColor = messages_setting.theme_color;
    document.getElementsByClassName('help__desk-category--header')[0].style.backgroundColor = messages_setting.theme_color;
    
    document.getElementsByClassName('faq-category--header')[0].style.backgroundColor = messages_setting.theme_color;

    document.getElementsByClassName('help__desk-faq--header')[0].style.color = messages_setting.text_color;
    
    help_desk_submit.style.fontFamily = messages_setting.font_family;
    let translation = []
    translation = JSON.parse(messages_setting.translation).filter(item => {
      return item.country === messages_setting.primary_language
    })
    document.getElementsByClassName('help__desk-label-contactUs')[0].innerText = translation[0].contact_us
    document.getElementsByClassName('help__desk-label-faq')[0].innerText = translation[0].faq
    document.getElementsByClassName('help__desk-label-category')[0].innerText = translation[0].categories
    document.getElementsByClassName('help__desk-label-name')[0].innerText = translation[0].your_name
    document.getElementsByClassName('help__desk-label-messages')[0].innerText = translation[0].messages
    document.getElementsByClassName('help__desk-label-contact')[0].innerText = translation[0].contact
    document.getElementsByClassName('help__desk-label-send')[0].innerText = translation[0].send
    document.getElementById('search-feature-faq').placeholder = translation[0].search
    document.getElementById('search-faq').placeholder = translation[0].search
    
    document.getElementsByClassName('help__desk-search-input')[0].style.fontFamily = messages_setting.font_family;
    document.getElementsByClassName('help__desk-search-input')[1].style.fontFamily = messages_setting.font_family;

    document.getElementsByClassName('help__desk-hi')[0].innerHTML = messages_setting.welcome_title;

    document.getElementsByClassName('help__desk-title')[0].innerHTML = messages_setting.description_title;

    {% comment %} document.getElementsByClassName('help__desk-label').style.color = messages_setting.send_messages_text_color; {% endcomment %}
    for(let i = 0; i < 6; i++){
      document.getElementsByClassName('help__desk-label')[i].style.color = messages_setting.send_messages_text_color;;
    }

    for(let i = 1; i < 6; i++){
      if(messages_setting.icon_number == i){
        document.getElementsByClassName(`help__desk-icon-${i}`)[0].style.display = 'block';
      }
      else{
        document.getElementsByClassName(`help__desk-icon-${i}`)[0].style.display = 'none';
      }
    }
    messages_setting.animation_visible === true? document.getElementsByClassName(`help__desk-icon-${messages_setting.icon_number}`)[0].style.animationName = 'example' : document.getElementsByClassName(`help__desk-icon-${messages_setting.icon_number}`)[0].style.animationName = ''
    if (messages_setting.message_visible) {
      document.getElementsByClassName('send_faq-contact-message')[0].style.display = 'flex';
      document.getElementById('send_faq-contact-message').href = `${messages_setting.message_link}`;
    }
    else{
      document.getElementsByClassName('send_faq-contact-message')[0].style.display = 'none';
    }
    if(messages_setting.contact_us_visible){
      document.getElementsByClassName('help__desk-contact-more')[0].style.display = 'block';
    }
    else{
      document.getElementsByClassName('help__desk-contact-more')[0].style.display = 'none';
    }
    if(messages_setting.faq_messages_visible){
      // document.getElementsByClassName('help__desk-send-faq')[0].style.display = 'block';
      // document.getElementsByClassName('help__desk-footer')[0].style.display = 'flex';
    }
    else{
      // document.getElementsByClassName('help__desk-send-faq')[0].style.display = 'none';
      // document.getElementsByClassName('help__desk-footer')[0].style.display = 'none';
    }
    if(messages_setting.feature_categories_visible){
      document.getElementsByClassName('help__desk-items-category')[0].style.display = 'block';
    }
    else{
      document.getElementsByClassName('help__desk-items-category')[0].style.display = 'none';
    }
    if(messages_setting.feature_questions_visible){
      document.getElementsByClassName('help__desk-items-faq')[0].style.display = 'block';
    }
    else{
      document.getElementsByClassName('help__desk-items-faq')[0].style.display = 'none';
    }
    if (messages_setting.phone_visible) {
      document.getElementsByClassName('send_faq-contact-phone')[0].style.display = 'flex';
      document.getElementById('send_faq-contact-phone').href = `tel:${messages_setting.phone_number}`
    }
    else{
      document.getElementsByClassName('send_faq-contact-phone')[0].style.display = 'none';
    }
    if (messages_setting.email_visible) {
      document.getElementsByClassName('send_faq-contact-email')[0].style.display = 'flex';
      document.getElementById('send_faq-contact-email').href = `${messages_setting.email_link}`;
    }
    else{
      document.getElementsByClassName('send_faq-contact-email')[0].style.display = 'none';
    }
    if (messages_setting.whatsApp_visible) {
      document.getElementsByClassName('send_faq-contact-whatsApp')[0].style.display = 'flex';
      document.getElementById('send_faq-contact-whatsApp').href = `https://api.whatsapp.com/send?phone=${messages_setting.whatsApp_number.slice(1).replace(/\s+/g, '')}`;
    }
    else{
      document.getElementsByClassName('send_faq-contact-whatsApp')[0].style.display = 'none';
    }

    if (messages_setting.aligment_faq_messages === 'left') {
      help_desk_button.style.left = '20px';
    }
    if (messages_setting.aligment_faq_messages === 'right') {
      help_desk_button.style.right = '20px';
    }
    if (messages_setting.aligment_faq_messages === 'left') {
      help_desk_container.style.left = '20px';
    }
    if (messages_setting.aligment_faq_messages === 'right') {
      help_desk_container.style.right = '20px';
    }
  })
  .catch(e => {
    console.log(e)
  })
  fetch(`${domain}/api/no-token/feature-faq/{{shop.permanent_domain}}`)
  .then(response => response.json())
  .then (data => {
    faqs = data.faq
    categories = data.category
    if(faqs.length > 0){
      feature_faqs_origin = faqs.filter(item => {
        return item.feature_faq === true
      })
      feature_faqs = faqs.filter(item => {
        return item.feature_faq === true
      })
      if(feature_faqs.length > 0) {
        for(let i = 0; i < feature_faqs.length; i++){
          content_feature_faqs += `<div class="help__desk-item" onclick="showFaqFeature(${feature_faqs[i].id})">
            <span class="help__desk-faq-title"> ${feature_faqs[i].title}</span>
            <svg width="13" fill="#000" height="13" style="margin-left: 16px; padding-top: 4px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
          </div>`
        }
        document.getElementsByClassName('help__desk-list-faq')[0].innerHTML = content_feature_faqs
      }
    }
    if(categories.length > 0){
      feature_categories = categories.filter(item => {
        return item.feature_category === true
      })
      if(feature_categories.length > 0) {
        let countFaqs = 0
        for(let i = 0; i < feature_categories.length; i++){
          countFaqs = faqs.filter(item => {
            return item.category_identify === feature_categories[i].identify
          }).length

          content_feature_categories += 
          `<div class="help__desk-item-category" onclick="showCategoryFeature(${feature_categories[i].id})">
            <div>
              <span style="word-break:break-all; font-size: 16px">${feature_categories[i].title}</span>
              <br>
              <span style="color:#98c6cd; font-size: 13px;font-weight: 400;">${countFaqs} FAQs</span>
            </div>
            <svg width="16" height="16" style="margin-left: 16px; padding-top: 4px; font-weight: 900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
          </div>`
        }
        document.getElementsByClassName('help__desk-list-category')[0].innerHTML = content_feature_categories
      }
    }
  })
  .catch(e => {
    console.log(e)
  })

  function searchFeatureFaq(){
    var input = document.getElementById('search-feature-faq');
    var filter = input.value.toLowerCase();
    if(filter !== ''){
      feature_faqs = feature_faqs_origin.filter((element) => {
        return filter.toLowerCase().split(' ').every(v => element.title.toLowerCase().includes(v))
      })
      if(feature_faqs.length > 0) {
        content_feature_faqs = ''
        for(let i = 0; i < feature_faqs.length; i++){
          content_feature_faqs += `<div class="help__desk-item" onclick="showFaqFeature(${feature_faqs[i].id})">
            <span class="help__desk-faq-title"> ${feature_faqs[i].title}</span>
            <svg width="13" fill="#000" height="13" style="margin-left: 16px; padding-top: 4px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
          </div>`
        }
        document.getElementsByClassName('help__desk-list-faq')[0].innerHTML = content_feature_faqs
      }
      else{
        content_feature_faqs = ''
        document.getElementsByClassName('help__desk-list-faq')[0].innerHTML = content_feature_faqs
      }
    }
    else{
      feature_faqs = feature_faqs_origin
      content_feature_faqs = ''
      if(feature_faqs.length > 0) {
        for(let i = 0; i < feature_faqs.length; i++){
          content_feature_faqs += `<div class="help__desk-item" onclick="showFaqFeature(${feature_faqs[i].id})">
            <span class="help__desk-faq-title"> ${feature_faqs[i].title}</span>
            <svg width="13" fill="#000" height="13" style="margin-left: 16px; padding-top: 4px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
          </div>`
        }
        document.getElementsByClassName('help__desk-list-faq')[0].innerHTML = content_feature_faqs
      }
    }
  }

  function searchFaq() {
    var input = document.getElementById('search-faq');
    var filter = input.value.toLowerCase();
    let feature_faqs_categories = ''
    if(filter !== ''){
      faq_show = faq_category_origin.filter((element) => {
        return filter.toLowerCase().split(' ').every(v => element.title.toLowerCase().includes(v))
      })
      for(let i = 0; i < faq_show.length; i++){
        feature_faqs_categories += `<div onclick="showFaqCategoryFeature(${faq_show[i].id})" class="feature-faq-hover" style="font-size: 14px; cursor:pointer; padding: 8px 24px">
          <div class="feature-faq-category-item" style="font-weight: 400">
            <span style="word-break:break-all">${faq_show[i].title}</span>
            <svg width="16" fill="#000" height="16" style="margin-left: 16px; padding-top: 4px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
          </div>
        </div> `
      }
      document.getElementsByClassName('feature-faq-category')[0].innerHTML = feature_faqs_categories
    }
    else{
      faq_show = faq_category_origin
      for(let i = 0; i < faq_show.length; i++){
        feature_faqs_categories += `<div onclick="showFaqCategoryFeature(${faq_show[i].id})" class="feature-faq-hover" style="font-size: 14px; cursor:pointer; padding: 8px 24px">
          <div class="feature-faq-category-item" style="font-weight: 400">
            <span style="word-break:break-all">${faq_show[i].title}</span>
            <svg width="16" fill="#000" height="16" style="margin-left: 16px; padding-top: 4px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
          </div>
        </div> `
      }
      document.getElementsByClassName('feature-faq-category')[0].innerHTML = feature_faqs_categories
    }
  }

  let faq_show = []
  function showFaqFeature(faq_id) {
    faq_show = []
    show_feature_faq = true
    faq_show = feature_faqs.filter(item => {
      return item.id === faq_id
    })
    document.getElementsByClassName('help__desk-body')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-home')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq')[0].style.display = 'block'
    document.getElementsByClassName('help__desk-category')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq-category')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq--title')[0].innerHTML = faq_show[0].title
    document.getElementsByClassName('help__desk-faq--content')[0].innerHTML = faq_show[0].content
  }

  let category_show = []
  function showCategoryFeature(category_id) {
    category_show = []
    faq_show = []
    show_feature_category = true
    category_show = feature_categories.filter(item => {
      return item.id === category_id
    })
    faq_show = faqs.filter(item => {
      return item.category_identify === category_show[0].identify
    })
    faq_category_origin = faq_show
    let feature_faqs_categories = ''
    for(let i = 0; i < faq_show.length; i++){
      feature_faqs_categories += `<div onclick="showFaqCategoryFeature(${faq_show[i].id})" class="feature-faq-hover" style="font-size: 14px; cursor:pointer; padding: 8px 24px">
        <div class="feature-faq-category-item" style="font-weight: 400">
          <span style="word-break:break-all">${faq_show[i].title}</span>
          <svg width="16" fill="#000" height="16" style="margin-left: 16px; padding-top: 4px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        </div>
      </div> `
    }
    document.getElementsByClassName('feature-faq-category')[0].innerHTML = feature_faqs_categories
    document.getElementsByClassName('help__desk-body')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-home')[0].style.display = 'none'
    {% comment %} document.getElementsByClassName('help__desk-faq')[0].style.display = 'none' {% endcomment %}
    document.getElementsByClassName('help__desk-category--title')[0].innerHTML = category_show[0].title
    {% comment %} document.getElementsByClassName('help__desk-faq--content')[0].innerText = category_show[0].content {% endcomment %}
    document.getElementsByClassName('help__desk-category')[0].style.display = 'block'
    document.getElementsByClassName('help__desk-faq-category')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq')[0].style.display = 'none'
  }
  
  function showFaqCategoryFeature(faq_id){
    faq_show = []
    show_feature_faq = true
    faq_show = faqs.filter(item => {
      return item.id === faq_id
    })
    document.getElementsByClassName('help__desk-body')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-home')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq-category')[0].style.display = 'block'
    document.getElementsByClassName('help__desk-category')[0].style.display = 'none'
    document.getElementsByClassName('faq-category--title')[0].innerHTML = faq_show[0].title
    document.getElementsByClassName('faq-category--content')[0].innerHTML = faq_show[0].content
  }
  
  function backHome(){
    document.getElementById('search-faq').value = ''
    document.getElementsByClassName('help__desk-body')[0].style.display = 'block'
    document.getElementsByClassName('help__desk-home')[0].style.display = 'block'
    document.getElementsByClassName('help__desk-faq')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-category')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq-category')[0].style.display = 'none'
  }

  function backCategory(){
    document.getElementsByClassName('help__desk-body')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-home')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-faq')[0].style.display = 'none'
    document.getElementsByClassName('help__desk-category')[0].style.display = 'block'
    document.getElementsByClassName('help__desk-faq-category')[0].style.display = 'none'
  }

  help_desk_container.style.opacity = '1'
  const messages = document.getElementById('messages')
  let show = false
  function showContent() {
    show = !show
    if(show === true){
      function myGreeting() {
        help_desk_container.style.opacity = '1'
        help_desk_container.style.transition = 'all .300s ease-in-out'
      }
      help_desk_container.style.opacity = '0'
      help_desk_container.style.display = 'block'
      document.getElementsByClassName(`help__desk-icon-${messages_setting.icon_number}`)[0].style.display = 'none'
      document.getElementsByClassName('help__desk-close-icon')[0].style.display = 'block'
      const myTimeout = setTimeout(myGreeting, 0);
      myTimeout()
    }
    else{
      function myGreeting() {
        help_desk_container.style.display = 'none'
      }
      help_desk_container.style.opacity = '0'
      help_desk_container.style.transition = 'all .300s ease-in-out'
      document.getElementsByClassName(`help__desk-icon-${messages_setting.icon_number}`)[0].style.display = 'block'
      document.getElementsByClassName('help__desk-close-icon')[0].style.display = 'none'
      const hidden = setTimeout(myGreeting, 300);
      hidden()
    }
  }
  function closeSend() {
    show = false
    {% comment %} help_desk_container.style.display = 'none'  {% endcomment %}
    {% comment %} document.getElementsByClassName(`help__desk-icon-${messages_setting.icon_number}`)[0].style.display = 'block' {% endcomment %}
    {% comment %} document.getElementsByClassName('help__desk-close-icon')[0].style.display = 'none' {% endcomment %}
    messages.innerText = ''
    function myGreeting() {
      help_desk_container.style.display = 'none'
    }
    help_desk_container.style.opacity = '0'
    help_desk_container.style.transition = 'all .300s ease-in-out'
    document.getElementsByClassName(`help__desk-icon-${messages_setting.icon_number}`)[0].style.display = 'block'
    document.getElementsByClassName('help__desk-close-icon')[0].style.display = 'none'
    const hidden = setTimeout(myGreeting, 300);
    hidden()
  }

  function Submit() {
    const ms = Date.now()
    const customer_name = document.getElementById('customer-name').value
    const customer_contact = document.getElementById('customer-contact').value
    const faq_title = document.getElementById('faq-title').value
    const user_id = messages_setting.user_id
    // var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    messages.innerText = ''
    if(faq_title === '' || customer_contact === '' || customer_name === ''){
      messages.innerText = 'Please completes all information !'
      messages.style.color = 'red'
      const hidden = setTimeout(myGreeting, 3000);
      function myGreeting() {
        messages.innerText = ""
      }
      return
    }
    const data = {
      customer_name: customer_name,
      customer_contact: customer_contact,
      faq_title: faq_title,
      user_id: user_id,
      time: ms
    }
    document.getElementById('help__desk-loader').style.display = 'flex'
    const url = `${domain}/api/send-messages`
    let xhr = new XMLHttpRequest()
    xhr.open('POST', url, true)
    xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
    xhr.send(JSON.stringify(data));
    xhr.onload = function () {
      if(xhr.status === 200) {
        messages.innerText = "Successfully!"
        messages.style.color = 'green'
        document.getElementById('faq-title').value = ''
        document.getElementById('help__desk-loader').style.display = 'none'
        const hidden = setTimeout(myGreeting, 3000);
        function myGreeting() {
          messages.innerText = ""
        }
      }
      else{
        messages.innerText = "Error!"
        messages.style.color = 'red'
        document.getElementById('help__desk-loader').style.display = 'none'
      }
    } 
  }
</script>
{% schema %}
  {
    "name": "YANET FAQ - Widget",
    "target": "body",
    "stylesheet": "image-gallery.css",
    "javascript": "party-button.js",
    "settings": []
  }
{% endschema %}
